@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
* {
  outline: 1px solid #f00--;
}
html {
}
body {
}

.wrap {
  max-width: 768px;
  margin: 0 auto;
}

/*첫번째 메인---시작*/

.sc01 {
  position: relative;
}

.sc01 .text {
  padding: 0 30px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  text-shadow: 1px 1px #fff, -1px -1px #333;
  color: #ffc7ad;
}

.text h1 {
  font-size: 15vw;
  text-align: center;
  margin-bottom: 15px;
}
.text p {
  font-size: 8vw;
  text-align: center;
}
.sc01 .text i {
  margin-right: 8px;
  font-size: 5vw;
}

/*첫번째 메인---끝*/

/*두번째 세션---시작*/
.sc02 {
  position: relative;
}

.main_slider {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.main_slider img {
  width: 100%;
  height: 110vw;
}
.sc02 .m_text {
  text-align: left;
  display: block;
  position: absolute;
  top: 65%;
  left: 0;
  margin: 0 30px 0 30px;
  z-index: 999;
}

.m_text h2 {
  text-align: left;
  font-family: "MonteCarlo", cursive;
  font-size: 11vh;
  width: 100%;
  margin-bottom: 25px;
  letter-spacing: 1.2vw;
}
.m_text p {
  font-size: 3vh;
  margin-bottom: 15px;
}
.m_text strong {
  font-size: 2vh;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}
/*두번째 메인---끝*/

/*세번째 메인---시작*/

.sc03 {
  position: relative;
}
.sc03 .sc03_txt {
  padding: 0 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: #333;
  z-index: 9999;
}
.sc03 .top_txt {
  font-family: "Nanum Pen Script", cursive;
}
.top_txt strong {
  display: block;
  font-size: 4vw;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 1;
  margin-bottom: 5vw;
}
.top_txt span {
  display: block;
  font-size: 4vw;
  font-weight: 300;
  margin-bottom: 12vw;
}
.mid_txt {
  font-family: "Nanum Pen Script", cursive;
}
.mid_txt h2 {
  font-size: 8vw;
  font-weight: 500;
  color: #ff9e7d;
  margin-bottom: 8vw;
}
.mid_txt strong {
  display: block;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.2;
  margin-bottom: 8vw;
}

.bott_txt {
  font-family: "Nanum Pen Script", cursive;
}
.bott_txt strong {
  display: block;
  font-size: 5vw;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 13vw;
  letter-spacing: 0.2rem;
}
.bott_txt span {
  font-size: 3.5vw;
  font-weight: 300;
}
.line {
  border-top: 1px solid #ececec;
  text-align: center;
  padding-top: 6vw;
}
.btn {
  display: flex;
}
.btn figure {
  margin: 0 auto;
}
.btn figure img {
  width: 40%;
}
.btn figure strong {
  display: block;
  font-size: 4vw;
  margin-top: 3vw;
}
.sc04 {
  position: relative;
}
.sc04 .sc04_txt {
  font-family: "Noto Serif KR", serif;
  /* padding:0 15px; */
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: #333;
  z-index: 9999;
}
.sc04 .sc04_txt h2 {
  font-size: 6vw;
  font-weight: 500;
  color: #ff9e7d;
  margin-bottom: 8vw;
}
.sc04_txt .container02 {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.sc04_txt .container02 figure {
  margin-bottom: 10vw;
  cursor: pointer;
}
.sc04_txt .container02 figure img {
  width: 110px;
  height: 110px;
  padding: 1vw;
  margin-left: -1vw;
}
.movie {
  margin: 0 auto;
  padding: 0 15px;
}
.movie iframe {
  width: 100%;
  height: 50vw;
  vertical-align: middle;
}
.sc05 {
  position: relative;
}
.sc05 .sc05_txt {
  font-family: "Nanum Pen Script", cursive;
  /* padding:0 15px; */
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  color: #333;
  z-index: 9999;
}
.sc05 .sc05_txt h2 {
  font-size: 8vw;
  font-weight: 500;
  color: #ff9e7d;
  margin-bottom: 6vw;
}

.map_btn {
  display: flex;
  margin: 0 28vw;
}
.map_btn figure {
  margin-bottom: 4vw;
  margin-left: 4vw;
}
.map_btn figure:first-child {
  margin-left: 0;
}

.map_btn img {
  width: 12vw;
  margin-bottom: 2vw;
}
.map_btn strong {
  font-family: "Noto Sans KR", sans-serif;
  display: block;
  font-size: 4vw;
  font-weight: 300;
  color: #666;
  text-align: center;
}
.map {
  width: 100%;
  padding: 0 15px;
}
.map img {
  width: 100%;
}
/*종이*/
.container {
  height: 100vh;
  display: grid;
}
.container > * {
  grid-area: 0.25;
}
