
/*홈페이지 라인간격 볼수 있음*/

*{outline: 1px solid #f00--;}

:root {
    --mc : #002E6A;
    --sc : #D22229;
    --dd : #dddddd;
}

html {font-size:10px;}
body {font-size:1.6rem;}


/*헤더 - 내비*/
#hd {position:fixed;top:0;left:0;display:flex;justify-content:space-between;width:100%;background:#fff;color:#333;padding:0 8rem;line-height:10rem;z-index:1000;}
.gnb {}
.gnb .depth01 {display:flex;font-size:1.8rem;font-weight:400;margin:0 15rem;}
.gnb .depth01>li>a {display:block;padding:0 30px;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a:hover {display: block; color:var(--mc);}

.gnb .depth01>li:after {content:"";display:block;width:0.3rem;height:0.3rem;background:var(--mc);border-radius:50%;position:absolute;top:6rem;left:calc(50% - 0.15rem);opacity:0;transition:0.5s;}
.gnb>.depth01>li:hover:after {top:3rem;opacity:1;}
.gnb .depth01>li>a:hover:after {width:100%;}

/*헤더 - 내비 다단메뉴*/

.gnb .depth02 { height:0;overflow:hidden; position: absolute;top:10rem;left:0;width:100%;transition:0.5s;letter-spacing:0.1rem; z-index:999;}

.gnb .depth02 li:hover {display:block;color:var(--mc);}

.gnb:before {content: "";display:block;width:100%;height:0;background: rgba(255, 255, 255, 0.5);position:absolute;top:10rem;left:0;transition:0.5s; z-index:999;}
.gnb:hover:before {height:20rem;}
.gnb:hover .depth02 {height:20rem;}

.gnb .depth02>li>a {display:block;line-height:3.5rem;text-align: center;font-size:1.5rem;}
.gnb .depth02>li~li>a {border-top: 1px solid #e4e4e4;}
.gnb>ul:hover>li .depth02 {opacity:1;top:10rem;visibility:visible;}
.gnb>ul>li .depth02 li~li a {display:block;border-top:1px solid var(--dd);}



/*헤더 - 오른쪽 내비 글자*/

#hd .login {display:flex;margin-left:auto;color:#333;text-transform:uppercase;font-size:1.2rem;}
#hd.on .login {color:#999;}

#hd .login li {padding:0 2rem;position:relative;}
#hd .login li~li:after {content:"";display:block;width:0.1rem;height:1rem;background:#999;position:absolute;top:50%;left:0;transform:translateY(-50%);}

/*헤더 - 오른쪽 내비 아이콘*/

#hd .top_service {font-size:2.5rem;color:#333;}
#hd .top_service a {display:inline-block;margin-left:0.5rem;position:relative;line-height:1;}
#hd .top_service small {position:absolute;top:-0.5rem;right:-0.5rem;width:1.5rem;height:1.5rem;background:var(--sc);line-height:1.5rem;color:#fff;font-size:1rem;text-align:center;border-radius:50%;}

#hd.on .top_service {color:#333;}

/*메인 비주얼 - 사진넣기 */

.main_visual {position:relative;background:url(../img/main_visual_bg01.jpg) no-repeat center center/cover;padding:8rem 16rem;color:#333;}
.main_visual figure img {width:100%;border-radius:3rem;}

/*메인 비주얼 - 글자넣기01*/

.main_visual  .slg {position:absolute;top:45%;left:46%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;}
.main_visual figure .slg h2 {font-size:2.5rem;font-weight:400;margin-bottom:2rem;line-height:1.3;}
.main_visual figure .slg sub {font-size:5rem;font-weight:700;}
.main_visual figure .slg p {font-size:1.8rem;font-weight:400;line-height:1.3;}

/*메인 비주얼 - 글자넣기02*/

.main_visual  .slg01 {position:absolute;top:50%;left:46%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;}
.main_visual figure .slg01 h2 {font-size:2.5rem;font-weight:400;margin-bottom:2rem;line-height:1.3;}
.main_visual figure .slg01 sub {font-size:5rem;font-weight:700;color:var(--mc);}
.main_visual figure .slg01 h2:after {content:"";display:block;width:50px;height:2px;background:#333;margin:30px 0;}
.main_visual figure .slg01 p {font-size:1.8rem;font-weight:400;line-height:1.3;}

/*메인 비주얼 - 글자넣기03*/

.main_visual  .slg02 {position:absolute;top:50%;left:46%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;}
.main_visual figure .slg02 h2 {font-size:2.5rem;font-weight:400;margin-bottom:2rem;line-height:1.3;}
.main_visual figure .slg02 sub {font-size:5rem;font-weight:700;color:var(--mc);}
.main_visual figure .slg02 h2:after {content:"";display:block;width:50px;height:2px;background:#333;margin:30px 0;}
.main_visual figure .slg02 p {font-size:1.8rem;font-weight:400;line-height:1.3;}

/*메인 비주얼 - 왼쪽 스크롤*/

.main_visual .left {width:8rem;height:100%;background:#fff;position:absolute;top:0;left:0;font-size:1.5rem;font-weight:300;color:#333;writing-mode: vertical-rl;text-align:center;padding:0 3.25rem 0 0;}
.main_visual .left strong {display:inline-block;width:0.1rem;height:10rem;background:var(--dd);font-size:0;margin-top:3rem;}
.main_visual .left strong:after {content:"";display:block;width:100%;height:0;background:var(--mc);animation:bar 1s infinite;}

@keyframes bar {
    to {height:100%;}
}

/*메인 비주얼 - 화살표*/

.main_visual .main_btn i {position:absolute;top: 44%;padding:1rem; background:rgba(0,0,0,0.5);color:#f4f4f4;font-size:2.5rem;border-radius:50%;cursor:pointer;}
.main_visual .main_btn i.xi-angle-left-thin {left:100px;}
.main_visual .main_btn i.xi-angle-right-thin {right:100px;}
.main_visual .main_btn .page {text-align:left;margin:3rem auto;font-size:2rem;}
/*메인 비주얼 - 바*/
/*.main_visual .main_btn .bar {position:relative;width:20rem;height:0.2rem;background:rgba(0,0,0,0.5);}
.main_visual .main_btn .bar:after {content:"";display:block;position:absolute;width:0;height:100%;top:0;left:0;background:var(--mc);}
.main_visual .main_btn .bar.on:after {width:100%;transition:2s;}*/

/*첫번째 섹션 - 사진01 */
.con02 {text-align:center;}
.con02 .container {position:relative;}
.con02 .container .fot {position:absolute;top:20%;left:50%;}
.con02 .container strong {display:block;font-size:30px;}



.con02 .case .man_itm {display:flex;height:100vh;width:100;position:relative;}
.con02 .case .man_itm figure {flex:1;transition:0.5s;}
.con02 .case .man_itm figure:hover {flex:2;}



.con02 .itm01 {background:url(../img/sec1_pro01.jpg) no-repeat center center/cover;}
.con02 .itm03 {background:url(../img/sec1_pro03.jpg) no-repeat center center/cover;}
.con02 .itm02 {background:url(../img/sec1_pro02.jpg) no-repeat center center/cover;}
.con02 .itm04 {background:url(../img/sec1_pro04.jpg) no-repeat center center/cover;}
.con02 .itm05 {background:url(../img/sec1_pro05.jpg) no-repeat center center/cover;}
.con02 .itm06 {background:url(../img/sec1_pro06.jpg) no-repeat center center/cover;}
.con02 .itm07 {background:url(../img/sec1_pro07.jpg) no-repeat center center/cover;}
.con02 .itm08 {background:url(../img/sec1_pro08.jpg) no-repeat center center/cover;}
.con02 .itm09 {background:url(../img/sec1_pro09.jpg) no-repeat center center/cover;}
.con02 .itm10 {background:url(../img/sec1_pro10.jpg) no-repeat center center/cover;}

/*첫번째 섹션 - 글자*/

.con02 .case .man_itm .itm01 .ft {position:absolute;}
.con02 .itm01 h3 {}




