/*홈페이지 라인간격 볼수 있음*/

*{outline: 1px solid #f00--;}

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}

@media screen and (max-width:768px) {
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

}

/*헤더 - 고정 */

.herder {position:fixed;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
.herder:hover {background: #fff;color:#333;}
.herder.on {background:#fff;color:#333;line-height:4rem;}

@media screen and (max-width:768px) {
    /*헤더 - 고정 */

    .herder {position:fixed;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
    .herder:hover {background: #fff;color:#333;}
    .herder.on {background:#fff;color:#333;line-height:4rem;}
}

/*헤더 - 로고*/

.herder h1 img {width:10rem;}
.herder a {display: block;}
.herder .container {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:0 0.75rem;}

@media screen and (max-width:768px) {
    /*헤더 - 로고*/

    .herder h1 {position: relative; z-index:1000;}
    .herder h1 img {width:8rem;}
    .herder a {display: block;}
    .herder .container {display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:0 0.75rem;}
}

/*헤더 - 내비*/

.gnb {}
.gnb .depth01 {display:flex;font-size:0.8rem;font-weight:400;}
.gnb .depth01>li>a {display:block;padding:0 35px;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a:hover {display: block; color: #81511c;}

.gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:#81511c;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}

.gnb .depth01>li>a:hover:after {width:100%;}

@media screen and (max-width:768px) {
    /*헤더 - 내비*/

    .gnb {margin-left:auto;position:fixed;top:0;left:-100%;background: #fff;padding:80px 0 0 0;border-right:1px solid #ddd; width:calc(100% - 80px); height:100vh;transition:0.4s;  z-index:999;}
    .gnb.on {left:0;}
    .gnb .depth01 {display:flex;flex-direction:column; font-size:0.8rem;font-weight:400;}

    .gnb .depth01>li>a {display:block;padding:0 35px;line-height:3rem;border-bottom:1px solid #ddd;}
    .gnb .depth01>li {position: relative;}
}

/*헤더 - 내비 다단메뉴*/

.gnb .depth02 {font-size:0.65rem; height:0;overflow:hidden; position: absolute;top:4rem;left:0;width:100%;transition:0.5s;letter-spacing:0.1rem; z-index:999;}

.gnb .depth02 li:hover {display:block;color:#81511c;}

.gnb:before {content: "";display:block;width:100%;height:0;background: rgb(250, 245, 238, 0.8);position:absolute;top:4rem;left:0;transition:0.5s; z-index:999;}
.gnb:hover:before {height:10rem;}
.gnb:hover .depth02 {height:10rem;}

.gnb .depth02>li>a {display:block;line-height:1.5rem;text-align: center;font-size:13px;}
.gnb .depth02>li~li>a {border-top: 1px solid #d3d2d2;}

@media screen and (max-width:768px) {
    /*헤더 - 내비 다단메뉴*/
body {overflow-x:hidden}

    .gnb .depth02 {display:none; font-size:0.65rem;font-size:400; height:auto;overflow:hidden; position:static;top:3rem;left:0;width:100%;transition:none;letter-spacing:0.1rem;background: #f5f5f5; z-index:999;}

    .gnb:before {content: "";display:none;width:100%;height:0;background:#ddd;position:absolute;top:3rem;left:0;transition:0.5s; z-index:999;}
    .gnb:hover:before {height:10rem;}
    .gnb:hover .depth02 {display:none; height:auto;}
    .gnb .depth02>li>a {display:block;line-height:3rem;text-align:left;padding:0 3rem;}
    

}

/*헤더 - 오른쪽 내비 아이콘*/

.herder .right {cursor: pointer;}
.herder .right i {font-size:20px;margin-left:20px;}


@media screen and (max-width:768px) {
    .herder .right {cursor: pointer;display:none;}
    .herder .right i {font-size:20px;margin-left:20px;}

}

/*헤더 - 모바일 아이콘*/
.herder .m_icon {display:none;}

@media screen and (max-width:768px) {
    .herder .m_icon {display:flex;opacity:0;position:fixed;top:25px;right:80px;z-index:1000;width:auto;padding:0 15px;}
    .herder .m_icon.on {opacity:1;transition:0.4s 0.4s;}
    .herder .m_icon a {font-size:1rem;color:#81511c;}
    .herder .m_icon i {padding:3px 10px;border:1px solid #ddd;margin-left:0.5rem;}
    
}


/*메인 비주얼 - 사진넣기 */
.main_visual {position: relative;background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
.main_visual .itm01 {height:100vh;}
.main_visual .itm01.on {opacity:0;transition:0.5s 3s;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 사진넣기 */
    .main_visual {position: relative;background:url(../img/main_visual01_m.jpg) no-repeat center center/cover;}
    .main_visual .itm01 {height:100vh;}
    .main_visual .itm01.on {opacity:0;transition:0.5s 3s;}
}


/*메인 비주얼 - 글자넣기01*/

.main_visual figure .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
.main_visual figure .slg h2 {font-size:1.3rem;font-weight:400;margin-bottom:30px;}
.main_visual figure .slg h2:after {content:"";display:block;width:100px;height:1px;background:#81511c;margin:30px auto;}
.main_visual figure .slg p {font-size:2rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
.main_visual figure .slg strong {display:block;font-size:0.9rem;font-weight:400;letter-spacing:-0.025rem;line-height:1.2;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 글자넣기01*/

    .main_visual figure .slg {position:absolute;top:45%;left:50%;width:auto;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;width:100%;}
    .main_visual figure .slg h2 {font-size:0.8rem;font-weight:400;margin-bottom:20px;}
    .main_visual figure .slg h2:after {content:"";display:block;width:80px;height:1px;background:#81511c;margin:25px auto;}
    .main_visual figure .slg p {font-size:0.8rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.7rem;}
    .main_visual figure .slg strong {display:block;font-size:0.7rem;font-weight:400;letter-spacing:-0.025rem;line-height:1.5;}
}

/*첫번째 섹션 - 글자*/

.content01 {padding:7.5rem 0;text-align:center;color: #333;position:relative; }
.content01 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025em;}
.content01 p {font-size:0.8rem;font-weight:400;margin-bottom:1.5rem;letter-spacing:-0.025em;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 글자*/

    .content01 {padding:7.5rem 0;text-align:center;color: #333;position:relative; }
    .content01 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025em;}
    .content01 p {font-size:0.8rem;font-weight:400;margin-bottom:0;letter-spacing:-0.025em;}
}

/*첫번째 섹션 - 사진 */
.content01 .container {width:60rem;margin:0 auto;padding:0 0.75rem;}
.content01 figure {padding:0 1rem;}
.content01 img {max-width:100%;}
.content01 .con01 {margin-bottom:1rem;}
.content01 figure img {transition:0.5s;transform:scale(0.7);} 
.content01 figure.on img {transform:scale(1);} 

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진 */
    .content01 .container {width:auto;margin:0 auto;padding:0 0.75rem;}
    .content01 figure {padding:0 1rem;}
    .content01 img {max-width:100%;}
    .content01 .con01 {margin:0 auto;}
    .content01 figure img {transition:0.5s;transform:0;} 
    .content01 figure.on img {transform:0;} 
}

/*첫번째 섹션 - 사진밑에글자*/

.content01 strong {display:block; font-size:1rem;font-weight:400;margin-bottom:0.5rem;}
.content01 span {display:block;font-size:0.75rem;font-weight:300;margin-bottom:0.5rem;}
.content01 .price {display:block;font-size:0.75rem;font-weight:300;}

@media screen and (max-width:768px) {
    
    /*첫번째 섹션 - 사진밑에글자*/

    .content01 strong {display:block;font-size:1rem;font-weight:400;margin-bottom:0.5rem;}
    .content01 span {display:block;font-size:0.75rem;font-weight:300;margin-bottom:0.5rem;}
    .content01 .price {display:block;font-size:0.75rem;font-weight:300;}
}

/*첫번째 섹션 - 화살표*/

.content01 .con01_btn i {position:absolute;top:45%;padding:5px; background:transparent;color:#81511c; font-size:2rem;border-radius:50%;cursor:pointer;}
.content01 .con01_btn i.xi-angle-left-thin {left:330px;}
.content01 .con01_btn i.xi-angle-right-thin {right:330px;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 화살표*/

    .content01 .con01_btn i {position:absolute;top:44%;padding:5px; background:transparent;color:#81511c; font-size:2rem;border-radius:50%;cursor:pointer;}
    .content01 .con01_btn i.xi-angle-left-thin {left:30px;}
    .content01 .con01_btn i.xi-angle-right-thin {right:30px;}
}

/*두번째 섹션 - 글자*/

.content02 {padding:7.5rem 0 6rem 0;text-align: center;background: #fffbf6;position: relative;}
.content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자*/

    .content02 {padding:7.5rem 0 6rem 0;text-align: center;background: #fffbf6;position: relative;}
    .content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;}
}

/*두번째 섹션 - 글자 가운데*/

.content02 .container {width:60rem;margin:0 auto;padding:0 0.75rem;}
.content02 .tab_menu {display: flex;justify-content: center;margin-bottom:2.5rem;}
.content02 .tab_menu li {display:block;line-height:2rem;padding:0 1rem;}
.content02 .tab_menu li a {padding:6px 25px;font-size:0.9rem;color:#777;background: #fff;border:1px solid #81511c;border-radius:25px;letter-spacing:-0.025em;}
.content02 .tab_menu li.on a {padding:6px 25px;font-size:0.9rem;font-weight:700; color:#f2f2f2;background:#81511c;border-radius:25px;letter-spacing:-0.025em;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자 가운데*/

    .content02 .container {width:auto;margin:0 auto;padding:0 0.75rem;}
    .content02 .tab_menu {display: flex;justify-content: center;margin-bottom:1rem;}
    .content02 .tab_menu li {display:block;line-height:2rem;padding:0 0.75rem;}
    .content02 .tab_menu li a {padding:6px 20px;font-size:0.8rem;color:#777;background: #fff;border:1px solid #81511c;border-radius:25px;letter-spacing:-0.025em;}
    .content02 .tab_menu li.on a {padding:6px 20px;font-size:0.8rem;font-weight:700; color:#f2f2f2;background:#81511c;border-radius:25px;letter-spacing:-0.025em;}
}

/*두번째 섹션 - 글자 왼쪽*/

.content02 .con02 {text-align:center;}
.content02 .con02 strong {display:inline-block;font-size:1.15rem;font-weight:700;margin-top:2.5rem;}
.content02 .con02 strong:after {content:"";display:block;width:2px;height:45px;background: #81511c;margin:20px 100px;}
.content02 .con02 h3 {display:block; font-size:0.85rem;font-weight:400;margin-bottom:0.5rem;line-height:1.2rem;letter-spacing:-0.025rem;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자 왼쪽*/

    .content02 .con02 {text-align:center;}
    .content02 .con02 strong {display:inline-block;font-size:1.15rem;font-weight:700;margin-top:2.5rem;}
    .content02 .con02 strong:after {content:"";display:block;width:45px;height:2px;background: #81511c;margin:20px 100px;}
    .content02 .con02 h3 {display:block; font-size:0.75rem;font-weight:400;margin-bottom:1.5rem;line-height:1.2rem;letter-spacing:-0.025rem;}
}

/*두번째 섹션 - 탭 사진*/
.content02 .tab_con {display:flex;}
.content02 .tab_con .con02 {flex:1;padding:0 15px;}
.content02 .tab_con .tab_con02 {flex:2;overflow:hidden;position: relative;height:350px;}
.content02 .tab_con02 figure {padding:0 25px;}
.content02 .tab_con02 img {margin-bottom:8px;}

.content02 .tab_con02 .tab_itm02 img {width:100%;}
.content02 .tab_con02 .con02_slider {position: absolute;top: 0;left: 0;width:100%; visibility: hidden;}
.content02 .tab_con02 .con02_slider.on {visibility:visible;}
.con02_d {display:none;}
.con02_d.on {display:block;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 탭 사진*/
    .content02 .tab_con {display:block;}
    .content02 .tab_con .con02 {flex:1;padding:0 15px;}
    .content02 .tab_con .tab_con02 {flex:2;overflow:hidden;position: relative;height:350px;}
    .content02 .tab_con02 figure {padding:0 25px;}
    .content02 .tab_con02 img {margin:0 auto;}
    
    .content02 .tab_con02 .tab_itm02 img {width:70%;}
    .content02 .tab_con02 .con02_slider {position: absolute;top: 0;left: 0;width:100%; visibility: hidden;}
    .content02 .tab_con02 .con02_slider.on {visibility:visible;}
    .con02_d {display:none;}
    .con02_d.on {display:block;}
}

/*두번째 섹션 - 사진밑에 글자 */

.content02 .tab_con02 strong {display:block ;font-size:0.75rem;letter-spacing:-0.025rem;}
.content02 .tab_con02 span {display:block;font-size:0.85rem;font-weight:500;margin-top:10px;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 사진밑에 글자 */

    .content02 .tab_con02 strong {display:block ;font-size:0.75rem;letter-spacing:-0.025rem;margin-top:0.75rem;}
    .content02 .tab_con02 span {display:block;font-size:0.85rem;font-weight:500;margin-top:10px;}
}

/*두번째 섹션 - 화살표*/

.content02 .con02_btn i {position:absolute;top:53%;padding:5px; background:transparent;color:#81511c; font-size:1.5rem;border-radius:50%;cursor:pointer;}
.content02 .con02_btn i.xi-angle-left-thin {left:760px;}
.content02 .con02_btn i.xi-angle-right-thin {right:350px;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 화살표*/

    .content02 .con02_btn i {position:absolute;top:63%;padding:5px; background:transparent;color:#81511c; font-size:1.5rem;border-radius:50%;cursor:pointer;}
    .content02 .con02_btn i.xi-angle-left-thin {left:40px;}
    .content02 .con02_btn i.xi-angle-right-thin {right:50px;}
}

/*두번째 섹션 - 버튼*/

.content02 .con02_slider .slick-dots {display:flex;position:absolute;top:310px;left:50%;transform:translateX(-50%)}
.content02 .con02_slider .slick-dots li{border:1px solid #81511c ;width:8px;height:8px; border-radius:50%; margin:0 8px;}
.content02 .con02_slider .slick-dots li.slick-active{background:#81511c;}
.content02 .con02_slider .slick-dots li button {display:none;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 버튼*/

    .content02 .con02_slider .slick-dots {display:flex;position:absolute;top:310px;left:50%;transform:translateX(-50%);}
    .content02 .con02_slider .slick-dots li{border:1px solid #81511c ;width:8px;height:8px; border-radius:50%; margin:0 8px;display:none;}
    .content02 .con02_slider .slick-dots li.slick-active{background:#81511c;}
    .content02 .con02_slider .slick-dots li button {display:none;}
}

/*세번째 섹션 - 글자*/

.content03 {padding:7.5rem 0;text-align:center;color: #333;position:relative; }
.content03 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025em;}
.content03 p {font-size:0.8rem;font-weight:400;margin-bottom:1.5rem;letter-spacing:-0.025em;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 글자*/

    .content03 {padding:7.5rem 0;text-align:center;color: #333;position:relative; }
    .content03 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025em;}
    .content03 p {font-size:0.8rem;font-weight:400;margin-bottom:1.5rem;letter-spacing:-0.025em;}
}

/*세번째 섹션 - 사진*/

.content03 .container {width:60rem;margin:0 auto;padding:0 0.75rem;position: relative;}
.content03 figure {position: relative;height:504px;}
.content03 .itm01 {background:url(../img/sec3_pro01.jpg)no-repeat center center/cover;}
.content03 .itm02 {background:url(../img/sec3_pro02.jpg)no-repeat center center/cover;}
.content03 .itm03 {background:url(../img/sec3_pro03.jpg)no-repeat center center/cover;}
.content03 .itm04 {background:url(../img/sec3_pro04.jpg)no-repeat center center/cover;}
.content03 .itm05 {background:url(../img/sec3_pro05.jpg)no-repeat center center/cover;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 사진*/

    .content03 .container {width:auto;margin:0 auto;padding:0 0.75rem;position: relative;}
    .content03 figure {position: relative;height:504px;}

    .content03 .itm01 {background:url(../img/sec3_pro01.jpg)no-repeat center center/cover;}
    .content03 .itm02 {background:url(../img/sec3_pro02.jpg)no-repeat center center/cover;}
    .content03 .itm03 {background:url(../img/sec3_pro03.jpg)no-repeat center center/cover;}
    .content03 .itm04 {background:url(../img/sec3_pro04.jpg)no-repeat center center/cover;}
    .content03 .itm05 {background:url(../img/sec3_pro05.jpg)no-repeat center center/cover;}
}

/*세번째 섹션 - 바탕 */
.content03 figure:after {position:absolute;top:13%;right:13%;content:"";width:350px;height:370px;background:rgba(255, 255, 255, 0.5);border-bottom:4px solid #744d2d; padding:75px 0 0 40px;border-radius:100px 5px 100px 5px;box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 바탕 */
    .content03 figure:after {position:absolute;top:13%;right:7%;content:"";width:300px;height:370px;background:rgba(255, 255, 255, 0.7);border-bottom:4px solid #744d2d; padding:75px 0 0 40px;border-radius:100px 5px 100px 5px;box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);}
}

/*세번째 섹션 - 글자01*/
.content03 .itm01 .con03 {position:absolute;top:25%;right:210px;z-index:888;}
.content03 .itm01 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
.content03 .itm01 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:99px;} 

/*세번째 섹션 - 글자02*/
.content03 .itm02 .con03 {position:absolute;top:25%;right:215px;z-index:888;}
.content03 .itm02 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
.content03 .itm02 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:109px;} 

/*세번째 섹션 - 글자03*/
.content03 .itm03 .con03 {position:absolute;top:25%;right:208px;z-index:888;}
.content03 .itm03 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
.content03 .itm03 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:109px;} 

/*세번째 섹션 - 글자04*/
.content03 .itm04 .con03 {position:absolute;top:23%;right:210px;z-index:888;}
.content03 .itm04 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
.content03 .itm04 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;}

/*세번째 섹션 - 글자05*/
.content03 .itm05 .con03 {position:absolute;top:25%;right:210px;z-index:888;}
.content03 .itm05 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
.content03 .itm05 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:99px;}

@media screen and (max-width:768px) {
    
    /*세번째 섹션 - 글자01*/
    .content03 .itm01 .con03 {position:absolute;top:25%;right:18%;z-index:888;}
    .content03 .itm01 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
    .content03 .itm01 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:99px;} 

    /*세번째 섹션 - 글자02*/
    .content03 .itm02 .con03 {position:absolute;top:25%;right:18%;z-index:888;}
    .content03 .itm02 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
    .content03 .itm02 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:99px;} 

    /*세번째 섹션 - 글자03*/
    .content03 .itm03 .con03 {position:absolute;top:23%;right:16%;z-index:888;}
    .content03 .itm03 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
    .content03 .itm03 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:109px;} 

    /*세번째 섹션 - 글자04*/
    .content03 .itm04 .con03 {position:absolute;top:23%;right:17%;z-index:888;}
    .content03 .itm04 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
    .content03 .itm04 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:109px;}

    /*세번째 섹션 - 글자05*/
    .content03 .itm05 .con03 {position:absolute;top:25%;right:18%;z-index:888;}
    .content03 .itm05 strong {display:block;font-size:1.5rem;font-weight:700;margin-bottom:30px;line-height:1.2;} 
    .content03 .itm05 span {display:block;font-size:0.7rem;font-weight:400;line-height:1.4;text-align: left;height:99px;}
}

/*세번째 섹션 - slick 화살표*/
.content03 .con03 .button {display:block;font-size:0;border-bottom:2px solid #81511c;width:70px;height:40px;position: relative;}
.content03 .con03 .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid #81511c;position:absolute;left:40px;top:26px;transform:rotate(45deg);}

@media screen and (max-width:768px) {
    /*세번째 섹션 - slick 화살표*/
    .content03 .con03 .button {display:block;font-size:0;border-bottom:2px solid #81511c;width:70px;height:40px;position: relative;}
    .content03 .con03 .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid #81511c;position:absolute;left:40px;top:26px;transform:rotate(45deg);}
}

/*세번째 섹션 - 버튼*/

.content03 .con03_slider .slick-dots {display:flex;position:absolute;bottom:5%;left:50%;transform:translateX(-50%)}
.content03 .con03_slider .slick-dots li{border:1px solid #81511c ;width:8px;height:8px; border-radius:50%; margin:0 5px;}
.content03 .con03_slider .slick-dots li.slick-active{background:#81511c;}
.content03 .con03_slider .slick-dots li button {display:none;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 버튼*/

    .content03 .con03_slider .slick-dots {display:flex;position:absolute;bottom:5%;left:50%;transform:translateX(-50%)}
    .content03 .con03_slider .slick-dots li{border:1px solid #81511c ;width:8px;height:8px; border-radius:50%; margin:0 5px;}
    .content03 .con03_slider .slick-dots li.slick-active{background:#81511c;}
    .content03 .con03_slider .slick-dots li button {display:none;}
}

/*네번째 섹션 - 글자*/

.content04 {padding:7.5rem 0;text-align: center;background: #fffbf6;}
.content04 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1rem;letter-spacing:-0.025em;}
.content04 p {font-size:0.8rem;font-weight:400;margin-bottom:1.5rem;letter-spacing:-0.025em;line-height:1.3;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 글자*/

    .content04 {padding:7.5rem 0 6.5rem 0;text-align: center;background: #fffbf6;}
    .content04 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1rem;letter-spacing:-0.025em;}
    .content04 p {font-size:0.8rem;font-weight:400;margin-bottom:1.5rem;letter-spacing:-0.025em;line-height:1.3;}
}

/*네번째 섹션 - 사진*/

.content04 .container {width:60rem;margin:0 auto;}

.content04 .con04 {display:flex;}
.content04 .con04 figure {flex:1;}
.content04 .case {padding:0 0.75rem;position: relative;width:100%;} 

.content04 .case img {border-radius:50%;border:3px solid #81511c;}

.content04 .case01 {position:relative;height:220px;}
.content04 .front {position:absolute;top:0;left:50%;backface-visibility:hidden;transform:translateX(-50%) rotateY(0) ;}
.content04 .back {position:absolute;top:0;left:50%;backface-visibility:hidden;transform:translateX(-50%) rotateY(180deg)}

.content04 .case01:hover .front {transform:translateX(-50%) rotateY(180deg);transition: 0.5s;}
.content04 .case01:hover .back {transform:translateX(-50%) rotateY(0);transition: 0.5s;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 사진*/

    .content04 .container {width:auto;margin:0 auto;}

    .content04 .con04 {display:block;}
    .content04 .con04 figure {flex:1;}
    .content04 .case {padding:0 0.75rem;position: relative;width:100%;} 

    .content04 .case img {border-radius:50%;}

    .content04 .case01 {position:relative;height:220px;}
    .content04 .front {position:absolute;top:0;left:50%;backface-visibility:hidden;transform:translateX(-50%) rotateY(0) ;}
    .content04 .back {position:absolute;top:0;left:50%;backface-visibility:hidden;transform:translateX(-50%) rotateY(180deg)}

    .content04 .case01:hover .front {transform:translateX(-50%) rotateY(180deg);transition: 0.5s;}
    .content04 .case01:hover .back {transform:translateX(-50%) rotateY(0);transition: 0.5s;}
}


/*네번째 섹션 - 글자*/
.content04 strong {display:block; font-size:1rem;font-weight:500;margin-bottom:15px;color:#81511c;}
.content04 span {display:block; font-size:0.75rem;font-weight:400;margin-bottom:15px;line-height:1.3;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 글자*/
    .content04 strong {display:block; font-size:1rem;font-weight:500;margin-bottom:15px;color:#81511c;}
    .content04 span {display:block; font-size:0.75rem;font-weight:400;margin-bottom:25px;line-height:1.3;}
}

/*다섯번째 섹션 - 글자*/

.content05 {padding:7.5rem 0 7rem 0;text-align: center;position: relative;}
.content05 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;}

@media screen and (max-width:768px) {
    /*다섯번째 섹션 - 글자*/

    .content05 {padding:7.5rem 0 7rem 0;text-align: center;position: relative;}
    .content05 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;}
}

/*다섯번째 섹션 - 사진*/

.content05 .container {width:60rem;margin:0 auto;}
.content05  .con05 {display:flex;}
.content05  .con05 figure {flex:1;padding:0 0.75rem;}
.content05  .con05 img {width:100%;box-shadow:0 0 5px #777;}

@media screen and (max-width:768px) {
    /*다섯번째 섹션 - 사진*/

    .content05 .container {width:auto;margin:0 auto;}
    .content05  .con05 {display:block;}
    .content05  .con05 figure {flex:1;padding:0 0.75rem;}
    .content05  .con05 img {width:100%;box-shadow:0 0 5px #777;}
}

/*다섯번째 섹션 - 글자*/
.content05 .pic {width:100%;height:190px; background: #fff7ed;padding:30px 0 0 0;box-shadow:0 0 5px #777;}

.content05 strong {display:block;font-size:20px;font-weight:500;margin-bottom:20px;}
.content05 span {display:block;font-size:15px;font-weight:400;line-height:1.3;}

@media screen and (max-width:768px) {
    /*다섯번째 섹션 - 글자*/
    .content05 .pic {width:100%;height:190px; background: #fff7ed;padding:30px 0 0 0;box-shadow:0 0 5px #777;margin-bottom:15px;}

    .content05 strong {display:block;font-size:20px;font-weight:500;margin-bottom:20px;}
    .content05 span {display:block;font-size:15px;font-weight:400;line-height:1.3;}
}

/*여섯번째 섹션 - 글자*/
.content06 {padding:7.5rem 0;text-align: center;background: #fffbf6;}
.content06 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;line-height:1.3;}

@media screen and (max-width:768px) {
    /*여섯번째 섹션 - 글자*/
    .content06 {padding:7.5rem 0;text-align: center;background: #fffbf6;}
    .content06 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;line-height:1.3;}
}
/*여섯번째 섹션 - 사진*/

.content06 .container {width:60rem;margin:0 auto;}
.content06 .c_slider {display:flex;}
.content06 figure {flex:1;padding:0 0.75rem;position:relative;}
.content06 .con06 img {max-width:100%;height:500px;}

.content06 .itm {position:relative;overflow: hidden;}
.content06 .itm .txt {padding-top:350px; font-size:17px; position:absolute;top:100%;left:15px;width:370px;height:100%;background:rgba(0,0,0,0.5);color:#fff;transition:0.5s;}
.content06 .txt a {border:1px solid #f2f2f2;padding:5px 30px;z-index:-1;}
.content06 .itm:hover .txt {top:0;}


@media screen and (max-width:768px) {
    /*여섯번째 섹션 - 사진*/

    .content06 .container {width:auto;margin:0 auto;}
    .content06 .c_slider {display:block;}
    .content06 figure {flex:1;padding:0 0.75rem;position:relative;}
    .content06 .con06 img {max-width:100%;height:400px;}

    .content06 .itm {position:relative;overflow: hidden;}
    .content06 .itm .txt {padding-top:350px; font-size:17px; position:absolute;top:100%;left:15px;width:370px;height:100%;background:rgba(0,0,0,0.5);color:#fff;transition:0.5s;}
    .content06 .txt a {border:1px solid #f2f2f2;padding:5px 30px;z-index:-1;display:none;}
    .content06 .itm:hover .txt {top:0;display:none;}
}

/*여섯번째 섹션 - 사진안에글자01*/

.content06 .spec {position:absolute;top:55px;left:50px;}
.content06 strong {display:block;font-size:1.75rem;font-weight:300;color:#f2f2f2;}
.content06 strong:after {content:"";display:block;width:1px;height:50px;background: #f2f2f2;margin:40px auto;}
.content06 .spe {position:absolute;top:220px;left:65px;}
.content06 span {display:block;font-size:1rem;font-weight:300;color:#f2f2f2;line-height:1.3;}

/*여섯번째 섹션 - 사진안에글자02*/

.content06 .dis {position:absolute;top:55px;left:65px;}
.content06 .dis_d {position:absolute;top:255px;left:65px;}

/*여섯번째 섹션 - 사진안에글자03*/

.content06 .pic {position:absolute;top:55px;left:90px;}
.content06 .pic_d {position:absolute;top:220px;left:100px;}

@media screen and (max-width:768px) {
    /*여섯번째 섹션 - 사진안에글자01*/

    .content06 .spec {position:absolute;top:60px;left:35px;}
    .content06 strong {display:block;font-size:1.2rem;font-weight:300;color:#f2f2f2;}
    .content06 strong:after {content:"";display:block;width:1px;height:50px;background: #f2f2f2;margin:40px auto;}
    .content06 .spe {position:absolute;top:200px;left:33px;}
    .content06 span {display:block;font-size:0.75rem;font-weight:300;color:#f2f2f2;}

    /*여섯번째 섹션 - 사진안에글자02*/

    .content06 .dis {position:absolute;top:60px;left:45px;}
    .content06 .dis_d {position:absolute;top:220px;left:35px;}

    /*여섯번째 섹션 - 사진안에글자03*/

    .content06 .pic {position:absolute;top:60px;left:60px;}
    .content06 .pic_d {position:absolute;top:200px;left:60px;}
}

/*푸터*/
.footer {background: #EDEDED;color:#444;padding:60px 0;text-align: center;}
.footer .container {width:60rem;margin:0 auto;padding: 0 15px;}
.footer .sns {font-size:1.5rem;line-height:2.5rem;}
.footer .sns a {margin:0 8px;}
.footer .container dl {display:flex;justify-content:center;line-height:2.5rem;font-size:0.75rem;font-weight:400;margin-bottom:0.75rem;}
.footer .container dl>dd>a {display:block; padding:0 0.75rem;position: relative;}
.footer .container dl>dd~dd>a:before {content:"";display:block;width:1px;height:12px;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);}
.footer .container dl .foot {font-weight:500;}

.footer .ft01 {font-size:0.75rem; font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-top:1rem;} 
.footer .ft01 ul>li {display: inline-block;}
.footer .ft01 address {font-size:0.75rem; font-weight:300;letter-spacing:0.025em;margin-top:1rem;}
.footer .ft {border-bottom:1px solid #bebebe;}

@media screen and (max-width:768px) {
    /*푸터*/
    .footer {background: #EDEDED;color:#333;padding:60px 0;text-align: center;}
    .footer .container {width:auto;margin:0 auto;padding: 0 15px;}
    .footer .sns {font-size:1.5rem;line-height:2.5rem;}
    .footer .sns a {margin:0 8px;}
    .footer .container dl {display:block;justify-content:center;line-height:2.5rem;font-size:0.75rem;font-weight:400;margin-bottom:0.75rem;}
    .footer .container dl>* {display:inline-block;}
    .footer .container dl>dd>a {}
    .footer .container dl>dd~dd>a:before {display:none;}
    .footer .container dl .foot {font-weight:500;}


    .footer .ft01 {font-size:0.65rem; font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-top:1rem;} 
    .footer .ft01 ul>li {display: inline-block;}
    .footer .ft01 address {font-size:0.65rem; font-weight:300;letter-spacing:0.025em;margin-top:1rem;}
    .footer .ft {border-bottom:1px solid #bebebe;}

}

/* 모바일*/

.mopen {display:none;}


@media screen and (max-width:768px) {
    /* 모바일*/
    .mopen {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1.5rem;padding:0.25rem;background:rgba(0,0,0,0.4);border-radius:5px;color: #fff; z-index:1000;}
    .mopen:after {content:"\e949";font-family: xeicon!important;}
   
    .m_open {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1.5rem;padding:0.25rem;background:rgba(0,0,0,0.4);border-radius:5px;color: #fff; z-index:1000;}
    .mopen.on:after {content:"\e921";font-family: xeicon!important;}


}

/*toTop*/

.toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;}
.toTop i {padding:8px;font-size:20px;color:#f4f4f4;background:rgba(0, 0, 0, 0.5);border-radius:5px;}

@media screen and (max-width:768px) {
    /*toTop*/

    .toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;display:none;}
    .toTop i {padding:8px;font-size:20px;color:#f4f4f4;background:rgba(0, 0, 0, 0.5);border-radius:5px; display:none;}
}

