#Wrap {min-width:1200px;}

#header {}
#header h1 {text-align:center;padding:10px 0;}
#gnb {border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
#gnb>ul {display:flex;justify-content:center;line-height:60px;}
#gnb>ul>li>a {display:block;padding:0 25px;}



#MainVisual {position:relative;}
#MainVisual figure img {width:100%;}
#MainVisual .slogan {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align: center;color:#fff;width:1200px;padding:0 15px;}


#MainVisual .slogan h2 {font-size:30px;font-weight:100;letter-spacing:0.5em;margin-bottom:20px;}
#MainVisual .slogan p {font-weight:100;line-height:1.6;}

#Event {padding:150px 0;}
#Event h2 {text-align:center;margin-bottom:30px;font-size:30px;font-weight:100;}
#Event .contrainer {display:flex;width:1200px;margin:0 auto;}
#Event .contrainer figure {flex:1;padding:0 15px;}
#Event .contrainer figure img {width:100%}

#TabContent {padding:150px 0;background: #f7f7f7;}
#TabContent .container {width:1200px;margin:0 auto;}
#TabContent ul {display:flex;line-height:40px;}
#TabContent ul li {flex:1;text-align:center;background: #333;color:#fff;cursor: pointer;}
#TabContent ul li.oo {background: #f00;}
#TabContent ul li~li{border-right:1px solid #ddd;}
#TabContent .tag>div {display:none;}
#TabContent .tag>div.oo {display:block;}

#footer {padding:80px 0 120px 0;background:#333;color:#f2f2f2;text-align:center;}




