
/*홈페이지 라인간격 볼수 있음*/

/* {outline: 1px solid #f00;}*/

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}
#header .search {display:none;}

/*헤더*/

#header {position:sticky;top:0;left:0;line-height:100px;width:100%;color:#333;transition:1s;z-index:666;}
#header:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
#header.on {background: #fff;color:#333;line-height:4rem;border-bottom:1px solid#333 ;}

/*헤더 - 로고*/

#header h1 img {width:10rem;}
#header a {}

#header .container {position: relative; text-align: center;width:1200px;margin:0 auto;line-height:80px;}

/*헤더 - 로고 내비 오른쪽 글자*/

#header .right {position: absolute;top:25%;right:0;padding:0 15px;}
#header .right>ul {display:flex;font-size:14px;font-weight:300;}
#header .right>ul>li {position:relative;}
#header .right>ul>li>a {display:block;padding:0 10px;}
#header .right>ul>li~li:before {content:"";display:block;width:1px;height:10px;background: #333;position:absolute;top:35px;left:0;}

/*헤더 - 내비 글자 */
.container-full {border-top:1px solid#ddd;}

.ddgf {margin-left: auto;}
#header nav>ul {display:flex;line-height:40px;font-size:18px;font-weight:400;}
#header nav>ul>li>a {display:block;padding:0 40px;}
#header nav>ul>li:last-child {}

/*헤더 - 내비 글자 다단메뉴*/

#header nav>ul>li {position:relative;}
#header nav>ul>li>ul {display:none; position: absolute;top:40px;left:50%;transform:translateX(-50%); width:100%;text-align: center; background: #fff;border: 1px solid#ddd;padding: 10px 0; z-index:888;}
#header nav>ul>li>ul>li~li {border-top: 1px solid#ddd;}
#header nav>ul>li>ul>li>a {display: block; line-height:30px;position: relative;z-index:1;}
#header nav>ul>li>ul:after {content: "";display:block;width:15px;height:15px;position: absolute;}
#header nav>ul>li:hover>ul {display: block;}


/*헤더 - 내비 글자 다단메뉴02*/
#header .total dl {display:none;position:absolute;top:-1px;left:180px;width:100%;height:calc(100% + 2px); text-align:center; background: #fff;border: 1px solid #ddd;padding:10px 0;z-index:999;}
#header .total dl>dd~dd {border-top:1px solid #ddd;}

#header .total li:hover dl {display:block;}



/*헤더 - 내비 글자 검색창*/

.gnb {display:flex;justify-content:space-between;align-items:center;padding-right:15px;}
#header .header_form {border:1px solid #ddd;line-height:1;border-radius:8px;}
#header .header_search input{border:none;outline:none;padding:5px 8px;background:none;}
#header .header_search button {border:none;background:none;}
#header .header_search i {font-size:15px;color:#333;margin-left:0 auto;padding-right:5px;}




/*메인 비주얼 - 사진넣기 */

#main_visual {position: relative;}
#main_visual  figure {height:calc(100vh - 10rem); position: relative;}
#main_visual .itm01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
#main_visual .itm02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover}
#main_visual .itm03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover}
#main_visual .itm04 {background:url(../img/main_visual04.jpg) no-repeat center center/cover}

/*버튼*/
#main_visual .main_slider .slick-dots {display:flex;position:absolute;bottom:30px;left:50%;transform:translateX(-50%)}
#main_visual .main_slider .slick-dots li{border:1px solid #fff ;width:10px;height:10px; border-radius:50%; margin:0 15px;}
#main_visual .main_slider .slick-dots li.slick-active{background:#fff;}
#main_visual .main_slider .slick-dots li button {display:none;}

/*메인 비주얼 - 글자넣기01*/

#main_visual figure .slg {position: absolute;top:50%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #f4f4f4;text-align: center;line-height:1.2;}
#main_visual figure .slg  h2 {font-size:50px;font-weight:100;letter-spacing:0.1em;}  
#main_visual figure .slg  sub {font-size:50px;font-weight:500;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}  
#main_visual figure .slg  p {font-size:20px;font-weight:300;line-height:1.2;color:#f4f4f4;;letter-spacing:0.1em;margin-top:20px;}  



/*메인 비주얼 - 글자넣기02*/

#main_visual figure.itm02 {position: relative;}

#main_visual figure.itm02 .slg {position: absolute;top:45%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm02 .slg h2 {font-size:50px;font-weight:700;letter-spacing:-0.025em;}

#main_visual figure.itm02 .slg p {font-size:30px;font-weight:400;letter-spacing:-0.025em;color: #333}
#main_visual figure.itm02 .slg span {display:flex;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;color:#40bfdf;position:absolute;top:150%; left:53%;}

/*메인 비주얼 - 글자넣기03*/

#main_visual figure.itm03 {position: relative;}

#main_visual figure.itm03 .slg {position: absolute;top:40%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm03 .slg h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;color: #333;}

#main_visual figure.itm03 .slg p {font-size:50px;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:10px;}

#main_visual figure.itm03 .slg strong {display:block;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;}

/*메인 비주얼 - 글자넣기04*/

#main_visual figure.itm04 {position: relative;}

#main_visual figure.itm04 .slg {position: absolute;top:40%;left:50%;width:1200px;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

#main_visual figure.itm04 .slg h2 {font-size:30px;font-weight:500;letter-spacing:-0.025em;color: #333;}

#main_visual figure.itm04 .slg p {font-size:50px;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:10px;}

#main_visual figure.itm04 .slg strong {display:block;font-size:18px;font-weight:500;letter-spacing:-0.025em;line-height:1.2;}

/*메인 비주얼 - 화살표*/

#main_visual .main_btn i {position:absolute;top: 44%;padding:10px; background:rgba(0,0,0,0.5);color:#f4f4f4; font-size:30px;border-radius:50%;cursor:pointer;}
#main_visual .main_btn i.xi-angle-left-thin {left:100px;}
#main_visual .main_btn i.xi-angle-right-thin {right:100px;}


/*첫번째 섹션 - 글자*/

#content01 {position: relative; padding:150px 0;text-align:center;color:#333;}
#content01 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
#content01 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}

/*첫번째 섹션 - 사진*/

#content01 .container {width:1200px;margin:0 auto;}
#content01 .container figure {padding:0 15px;}
#content01 .container figure img {max-width:100%;border-radius:25px;transition:0.4s;}
#content01 .case {margin-bottom:25px;overflow:hidden;}
#content01 .container figure:hover img {transform:scale(1.1);}

/*첫번째 섹션 - 글자밑에글자*/

#content01 strong {display:block; font-size:16px;font-weight:400;margin-bottom:5px;}
#content01 span {font-size:14px;font-weight:700;}


/*첫번째 섹션 - 아이콘*/

#content01 .con01_btn {}
#content01 .con01_btn i {position:absolute;top:49%;left:50%;transform:translate(-50%,-50%);font-size:40px;padding:10px;background:#fff;border-radius: 50%;cursor: pointer;}
#content01 .con01_btn i.xi-angle-left-thin {margin-left:-635px;}
#content01 .con01_btn i.xi-angle-right-thin {margin-left:635px;}

/*첫번째 섹션 - 바 움직이는거*/

#content01 .slide_bar {position:relative; width:800px;height:5px;background: #ddd;border-radius:3px;margin:30px auto;overflow:hidden;cursor: pointer;}
#content01 .slide_bar>span {display:block;width:100px;height:5px;border-radius:3px;background: #333;position: absolute;top:0;left:0;transition:0.5s;cursor: pointer;}

/*두번째 섹션 - 글자*/

#content02 {padding:150px 0;text-align: center;background: #f1f1f1;}
#content02 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
#content02 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}


/*두번째 섹션 - 사진과 글자*/

#content02 .container {position: relative; display:flex;flex-wrap:wrap; width:1200px;margin:0 auto;padding:0 15px;}
#content02 .container figure {}
#content02 img {max-width:100%;}

#content02 .dis {position: absolute;top:5%;right:52%; text-align:right;}
#content02 .dis h3 {font-size:22px;font-weight:300;margin-bottom:10px;letter-spacing:-0.025em;}
#content02 .dis h3:after {content:"";display:block;width:30px;height:3px;background: #333;margin:15px 0 0 auto}
#content02 .dis p {font-size:27px;font-weight:500;letter-spacing:-0.025em;}

/*두번째 섹션 - 사진과 글자02*/

#content02 .con {}
#content02 .con01~.con01 {border-top:2px solid #ddd;}
#content02 .con01 { display:flex;width:585px;height:150px; background: #fff;margin:0 auto;justify-content:space-between;align-items:center;}
#content02 .con01 figure {padding:15px;}
#content02 .con01 img {border-radius:50%;width:120px;}

#content02 .con02_d {}
#content02 strong {display:block; font-size:20px;font-weight:300;margin-bottom:15px;}
#content02 span {font-size:16px;font-weight:700;}
#content02 i {font-size:30px;padding:10px;background:#ddd; border-radius: 50%;cursor: pointer;margin-right:15px;}


/*세번째 섹션 - 글자*/

#content03 {padding:150px 0;text-align: center;}
#content03 .container {width:1200px;margin:0 auto;}
#content03 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
#content03 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}

/*세번째 섹션 - 글자 가운데*/

#content03 .tab_menu {display: flex;justify-content: center;margin-bottom: 50px;}
#content03 .tab_menu li {display:block;line-height:40px;padding:0 20px;}

#content03 .tab_menu li a {padding: 8px 25px;font-size:14px;color:#777;background: #fafafa;border:1px solid #ddd;border-radius:25px;letter-spacing:-0.025em;}
#content03 .tab_menu li.on a {padding: 8px 25px;font-size:14px;color:#333;background: #fff;border:1px solid #333;border-radius:25px;letter-spacing:-0.025em;}

/*세번째 섹션 - 사진*/

#content03 .tab_con {position: relative;}
#content03 .tab_con .tab_b {display:none;}
#content03 .tab_con figure {padding:0 15px;}
#content03 .tab_con figure img {width:100%;}
#content03 .tab_con>div {display:none;}
#content03 .tab_con>div.on {display:flex;}

/*네번째 섹션 - 글자*/

#content04 {padding:150px 0;text-align:left;background: #f1f1f1;cursor: pointer; }
#content04 .con04 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
.con04 h2:after {content:"";display:block;width:30px;height:3px;background: #82bb3f;;margin:20px 0;}
.con04 p {font-size:20px; font-weight:400;margin-bottom:20px;letter-spacing:-0.025em;line-height:1.2;}
.con04 p sub {font-size:35px; font-weight:500;margin-bottom:30px;letter-spacing:-0.025em;vertical-align: baseline;font-size: inherit;color:#82bb3f;}
.con04 h3 {font-size:16px;font-weight:300;margin-bottom:15px;letter-spacing:-0.025em;line-height:1.2;}
.con04 a i {font-size:20px;padding:5px;background: #82bb3f;color: #333; border-radius:50% 0;transition:0.4s;}
.con04 a:hover i {border-radius:50%;}



/*네번째 섹션 - 사진*/

#content04 .container {display:flex;width:1200px;margin: 0 auto;}
.container .con04 {flex:1;padding:0 15px;}
.container .con04-d {flex:2;overflow:hidden;position: relative;text-align: center;}
.container .con04-d figure {padding:0 15px;}
.container .con04-d img {max-width:100%;margin-bottom:10px;}

/*네번째 섹션 - 아이콘*/

.container .con04-d i {position: absolute;top: 0;background:#fff;color:#333; font-size:20px;cursor:pointer;border:1px solid #ddd;}
.container .con04-d i.xi-angle-left-thin {left:94%;}
.container .con04-d i.xi-angle-right-thin {right:0%;}

/*네번째 섹션 - 사진밑에글자*/

.container .con04-d strong {display:block; font-size:16px;font-weight:400;margin-bottom:5px;margin-bottom:15px;}
.container .con04-d span {font-size:14px;font-weight:700;}





/*다섯번째 섹션 - 글자*/

#content05 {padding:150px 0;text-align: center;cursor: pointer; }
#content05 h2 {font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:-0.025em;}

/*다섯번째 섹션 - 사진01*/

#content05 .container {position:relative;display:flex;flex-flow:column wrap;width:1200px;max-height:600px;margin:0 auto;}
#content05 .container>div {width:50%;padding:0 15px;margin-bottom:10px;}
#content05 .container img {width:100%;}

/*다섯번째 섹션 - 글자01*/

#content05 .con05_dd {position: absolute;top:6%;left:4%;text-align: left;}
#content05 .con05_dd h3 {font-size:20px;font-weight:400;margin-bottom:5px;}
#content05 .con05_dd strong {font-size:30px;font-weight:700;}
#content05 .con05_dd sub {font-size:20px;font-weight:400;}
#content05 .con05_dd .price {margin-top:16px;border:1px solid #333;padding:3px 10px;border-radius:10px;cursor: pointer;} 
#content05 .con05_dd .price:hover {background: #ddd;}

#content05 .con05_dd span {display:block;font-size:16px;font-weight:400;letter-spacing:0.3em;text-align: center;}


/*다섯번째 섹션 - 사진02*/

#content05 .con05_d {display:flex;background:#fff;width:570px;height:220px;}
#content05 .con05_d figure {padding:15px 0;}
#content05 .con05_d figure img {width:100%;}

/*다섯번째 섹션 - 사진03*/

#content05 .con05_slider {overflow: hidden;} 
#content05 .con05_slider figure {position: relative;} 
 
/*다섯번째 섹션 - 글자03*/

#content05 .con05_ddd {position:absolute;top:5%;left:7%;text-align:left;z-index: 999;} 
#content05 .con05_ddd strong {display: block; font-size:40px;font-weight:500;margin-bottom:25px;line-height:1.2;} 
#content05 .con05_ddd sub {font-size:55px;font-weight:700;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}
#content05 .con05_ddd .cc {font-size:16px;font-weight:400; margin-top:22px;border:1px solid #333;padding:2px 30px;border-radius:10px; cursor: pointer;}
#content05 .con05_ddd .cc:hover {background: #e6cd5d;}

/*다섯번째 섹션 - 글자03-2*/

#content05 .con05_dddd {position: absolute;top:5%;left:7%;text-align:left;z-index: 999;}
#content05 .con05_dddd strong {display: block; font-size:40px;font-weight:500;margin-bottom:25px;line-height:1.2;} 
#content05 .con05_dddd sub {font-size:55px;font-weight:700;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}
#content05 .con05_dddd .ccc {font-size:16px;font-weight:400;margin-top:22px;border:1px solid #333;padding:2px 30px;border-radius:10px; cursor: pointer;}

/*다섯번째섹션 - 화살표*/

.con05_case {position:relative;}
#content05 .con05_case .con05_btn i {display:none;position:absolute;top:45%; padding:10px; background:rgba(255, 255, 255, 0.5);color:#333; font-size:30px;border-radius:50%;cursor:pointer;z-index:99999;}
#content05 .con05_btn i.xi-angle-left-thin {left:25px;}
#content05 .con05_btn i.xi-angle-right-thin {right:25px}
#content05 .con05_case:hover .con05_btn i {display:block;}


/*다섯번째섹션 - 버튼*/

#content05 .con05_slider .slick-dots {display:flex;position:absolute;bottom:10px;right:20px;}
#content05 .con05_slider .slick-dots li{border:1px solid rgba(255, 255, 255, 0.5);width:10px;height:10px; border-radius:50%; margin:0 5px;}
#content05 .con05_slider .slick-dots li.slick-active{background:rgba(255, 255, 255, 0.5);}
#content05 .con05_slider .slick-dots li button {display:none;}


/*푸터*/

#footer {border-top:1px solid #333; background:#fff;color: #333;text-align:left;}
.full {border-bottom:1px  solid #ddd;}
#footer .container {display:flex;justify-content: space-between; width:1200px;margin:0 auto;padding: 0 15px;line-height:100px;}
#footer .customer_link {display: flex;font-size:15px;font-weight:300;}
#footer .customer_link li {position:relative;}
#footer .customer_link li>a {display:block; padding: 0 20px;}
#footer .customer_link .cdc {font-weight:700;line-height:100px;}
#footer .customer_link li~li:before  {content:"";display:block;width:1px;height:12px;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);}
#footer .customer_link li:first-child>a {padding:0 20px 0 0;}

.sns {font-size:30px;letter-spacing:0.5rem;}

/*푸터 - 글자02*/

#footer .container01 {display:flex;justify-content: space-between; width:1200px;margin:0 auto;padding:0 15px;}

#footer .container01 .con05_d {position: relative;flex:1;border-right:1px solid #ddd;}
#footer .container01 .con05_d {padding:50px 50px 50px 50px;}
#footer .container01 .con05_d:nth-child(1) {padding:50px 50px 50px 25px;}
#footer .container01 .con05_d:nth-child(3) {border-right:none;}
#footer .container01 .con05_d h3 {font-size:15px;font-size:300;letter-spacing:0.3rem;}
#footer .container01 .con05_d h3:after {content:"";display:block;width:30px;height:1px;background: #333;margin:15px 0;}
#footer .container01 .con05_d strong {display:block; font-size:30px;font-size:500;margin-bottom:20px;}
#footer .container01 .con05_d span {display: block; font-size:15px;font-size:300;line-height:1.5;}
#footer .container01 .con05_d span.fdf {font-size:15px;font-size:100;}

#footer .container01 .con05_d strong.frf {font-size:15px;font-size:300;line-height:1.5;}

#footer .container01 .con05_d p {font-size:16px;font-size:300;}
#footer .container01 .con05_d sub {font-size:30px;font-weight:500;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;padding:0 0 2px 0;}
#footer .container01 .con05_d strong.ffd {font-size:14px;font-size:300;margin-top: 20px;}
#footer .container01 .con05_d .ddff {font-size:15px;font-size:300;letter-spacing:0.3rem;}
#footer .container01 .con05_d .ddff:after {content:"";display:block;width:30px;height:1px;background: #333;margin:15px 0;}

#footer .con05_d .pre { text-align:center;margin:16px 0;cursor:pointer;}
#footer .con05_d .pre em {display:inline-block;font-size:18px; font-weight:500;border:1px solid #333;position:relative;padding:10px 90px;border-radius:10px;overflow:hidden;}

/*푸터 - 사각형 박스에 색깔나오는거*/
#footer .con05_d .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(0, 0, 0, 0.5); position:absolute;top:0;left:0;transition:0.5s; z-index:1;}

#footer .con05_d .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}
#footer .con05_d .pre em span {position:relative;z-index:333}

#footer .con05_d .pre em:hover span {color: #fff;}


#mopen {display:none; position: fixed;top:1rem;right:1.5rem;font-size:1.5rem;z-index:1000;}
#mopen i {padding:0.2rem;background: #ddd;}


/*toTop*/

#toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;}
#toTop i {padding:10px;font-size:20px;color:#f4f4f4;background:rgba(0, 0, 0, 0.5);border-radius:50%;}




@media (max-width:768px){
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

    /* {outline: 1px solid #f00;}*/

    /*헤더*/

    #header {position:sticky;top:0;left:0;line-height:100px;width:100%;color:#333;transition:1s;z-index:999;}
    #header:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
    #header.on {background: #fff;color:#333;border-bottom:1px solid#333 ;display:none;}

    /*헤더 - 로고*/

    #header h1 img {width:10rem;}
    #header .search {display:none;position: fixed;top:1rem;left:1rem;font-size:1.5rem;z-index:1000;}

    #header .container {position: relative; text-align:center;width:auto;margin:0 auto;line-height:100px;}

    /*헤더 - 로고 내비 오른쪽 글자*/

    #header .right {position: absolute;top:25%;right:0;padding:0 15px;display:none;}
    #header .right>ul {display:flex;font-size:14px;font-weight:300;}
    #header .right>ul>li {position:relative;}
    #header .right>ul>li>a {display:block;padding:0 10px;}
    #header .right>ul>li~li:before {content:"";display:block;width:1px;height:10px;background: #333;position:absolute;top:15px;left:0;}

    /*헤더 - 내비 글자 */
    .container-full {border-top:1px solid#ddd;}
    .container-full 

    .ddgf {margin-left:auto;position:fixed;top:0;left:-100%;background: #fff;border-right:1px solid #ddd; width:calc(100% - 80px); height:100vh;transition:0.4s;  z-index:999;}
    .ddgf.on {left:0;}

    .gnb {display:flex;justify-content: space-between;align-items:center;padding-right:15px;}

    #header nav {padding:0 15px;}
    #header nav>ul {display:block;line-height:2rem;font-size:18px;font-weight:400;padding:5rem 0.5rem 0 0.5rem;}
    #header nav>ul>li>a {display:block;padding:0 2rem;position: relative;line-height:2rem;border-bottom:1px solid #ddd;}
    #header nav>ul>li~li>a:after {content: "";display:none;width:1px;height:0.65rem;background: #666;position: absolute;top:50%;left:0;transform:translateY(-50%);}

    /*헤더 - 내비 글자 다단메뉴*/

    
    #header nav>ul>li .total {display:none; line-height:1.5rem;width:100%;background: #f1f1f1;padding:0.2rem 0.2rem  0.2rem;position:static;top:4.5rem;left:0; transform:translateX(0);border:none ;z-index:999;}
    #header nav>ul>li:hover .total {display:none;}

    #header nav>ul>li .total li~li a {border-top: 1px solid#ddd;}
    #header nav>ul>li .total a {display:block;text-align:left;padding:0 2rem;}
    #header nav>ul>li .total a:before {content:" - ";}
    
    
 

    /*헤더 - 내비 글자 다단메뉴02*/
    #header .total dl {display:none;position:static;top:-1px;left:180px;width:100%;height:calc(100% + 2px); text-align:center; background: #fff;border: 1px solid #ddd;padding:10px 0;z-index:1000;}
    #header .total dl>dd~dd {border-top:1px solid #ddd;}

    #header .total li:hover dl {display:none;}



    /*헤더 - 내비 글자 검색창*/

    
    #header .header_form {border:1px solid #333;line-height:1;display: none;}
    #header .header_search input{border:none;outline:none;padding:0 5px;}
    #header .header_search button {background:none;border:none;}
    #header .header_search i {font-size:15px;color:#333;margin-left:0 auto;padding-right:5px;}




    /*메인 비주얼 - 사진넣기 */

    #main_visual {position: relative;}
    #main_visual  figure {height:calc(100vh - 10rem); position: relative;}
    #main_visual .itm01 {background:url(../img/main_visual01.jpg) no-repeat center center/cover;}
    #main_visual .itm02 {background:url(../img/main_visual02.jpg) no-repeat center center/cover}
    #main_visual .itm03 {background:url(../img/main_visual03.jpg) no-repeat center center/cover}
    #main_visual .itm04 {background:url(../img/main_visual04.jpg) no-repeat center center/cover}

    /*버튼*/
    #main_visual .main_slider .slick-dots {display:flex;position:absolute;bottom:30px;left:50%;transform:translateX(-50%)}
    #main_visual .main_slider .slick-dots li{border:1px solid #fff ;width:10px;height:10px; border-radius:50%; margin:0 15px;}
    #main_visual .main_slider .slick-dots li.slick-active{background:#fff;}
    #main_visual .main_slider .slick-dots li button {display:none;}

    /*메인 비주얼 - 글자넣기01*/

    #main_visual figure .slg {position: absolute;top:50%;left:50%;width:auto;padding:0 15px;transform:translate(-50%,-50%);color: #f4f4f4;text-align: center;line-height:1.2;}
    #main_visual figure .slg  h2 {font-size:1.45rem;font-weight:100;letter-spacing:0.1em;}  
    #main_visual figure .slg  sub {font-size:1.45rem;font-weight:500;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}  
    #main_visual figure .slg  p {font-size:0.8rem;font-weight:300;line-height:1.2;color:#f4f4f4;;letter-spacing:0.1em;margin-top:1rem;}  



    /*메인 비주얼 - 글자넣기02*/

    #main_visual figure.itm02 {position: relative;}

    #main_visual figure.itm02 .slg {position: absolute;top:50%;left:36%;width:auto;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

    #main_visual figure.itm02 .slg h2 {font-size:1.1rem;font-weight:700;letter-spacing:-0.025em;}

    #main_visual figure.itm02 .slg p {font-size:0.8rem;font-weight:400;letter-spacing:-0.025em;color: #333}
    #main_visual figure.itm02 .slg span {display:flex;font-size:0.7rem;font-weight:500;letter-spacing:-0.025em;line-height:1.2;color:#40bfdf;position:absolute;top:150%; left:55%;}

    /*메인 비주얼 - 글자넣기03*/

    #main_visual figure.itm03 {position: relative;}

    #main_visual figure.itm03 .slg {position: absolute;top:50%;left:36%;width:auto;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

    #main_visual figure.itm03 .slg h2 {font-size:1rem;font-weight:500;letter-spacing:-0.025em;color: #333;}

    #main_visual figure.itm03 .slg p {font-size:1.3rem;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:0.5rem;}

    #main_visual figure.itm03 .slg strong {display:block;font-size:0.7rem;font-weight:400;letter-spacing:-0.025em;line-height:1.2;}

    /*메인 비주얼 - 글자넣기04*/

    #main_visual figure.itm04 {position: relative;}

    #main_visual figure.itm04 .slg {position: absolute;top:50%;left:36%;width:auto;padding:0 15px;transform:translate(-50%,-50%);color: #333;text-align:left;line-height:1.2;}

    #main_visual figure.itm04 .slg h2 {font-size:0.8rem;font-weight:500;letter-spacing:-0.025em;color: #333;}

    #main_visual figure.itm04 .slg p {font-size:1.2rem;font-weight:700;letter-spacing:-0.025em;color: #333;margin-bottom:10px;}

    #main_visual figure.itm04 .slg strong {display:block;font-size:0.7rem;font-weight:400;letter-spacing:-0.025em;line-height:1.2;}

    /*메인 비주얼 - 화살표*/

    #main_visual .main_btn i {position:absolute;top: 44%;padding:10px; background:rgba(0,0,0,0.5);color:#f4f4f4; font-size:30px;border-radius:50%;cursor:pointer;display:none;}
    #main_visual .main_btn i.xi-angle-left-thin {left:100px;}
    #main_visual .main_btn i.xi-angle-right-thin {right:100px;}


    /*첫번째 섹션 - 글자*/

    #content01 {position: relative; padding:150px 0;text-align:center;color:#333;}
    #content01 h2 {font-size:30px;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
    #content01 p {font-size:18px; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}

    /*첫번째 섹션 - 사진*/

    #content01 .container {width:auto;margin:0 auto;}
    #content01 .container figure {padding:0 15px;}
    #content01 .container figure img {width:100%;border-radius:25px;transition:0.4s;}
    #content01 .case {margin-bottom:25px;overflow:hidden;}
    #content01 .container figure:hover img {transform:scale(1.1);}

    /*첫번째 섹션 - 글자밑에글자*/

    #content01 strong {display:block; font-size:16px;font-weight:400;margin-bottom:5px;}
    #content01 span {font-size:14px;font-weight:700;}


    /*첫번째 섹션 - 아이콘*/


    #content01 .con01_btn i {position:absolute;top:46%;left:50%;transform:translate(0,0);font-size:1rem;padding:5px;background:rgba(255,255,255,0.5);;border-radius:50%;cursor: pointer;}
    #content01 .con01_btn i.xi-angle-left-thin {margin-left:0;left:1rem;}
    #content01 .con01_btn i.xi-angle-right-thin {margin-left:0;left:auto;right:1rem;}

    /*첫번째 섹션 - 바 움직이는거*/

    #content01 .slide_bar {position:relative; width:auto;height:5px;background: #ddd;border-radius:3px;margin:30px auto;overflow:hidden;cursor: pointer;}
    #content01 .slide_bar>span {display:block;width:calc(100% / 8);height:5px;border-radius:3px;background: #333;position: absolute;top:0;left:0;transition:0.5s;cursor: pointer;}

    /*두번째 섹션 - 글자*/

    #content02 {padding:150px 0;text-align: center;background: #f1f1f1;}
    #content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:12px;letter-spacing:-0.025em;}
    #content02 p {font-size:0.9rem; font-weight:300;margin-bottom:30px;letter-spacing:-0.025em;}


    /*두번째 섹션 - 사진과 글자*/

    #content02 .container {position: relative;display:block;flex-wrap:wrap; width:auto;margin:0 auto;padding:0 15px;}
    
    #content02 img {max-width:100%;}

    #content02 .dis {position: absolute;top:3%;right:8%; text-align:right;}
    #content02 .dis h3 {font-size:0.85rem;font-weight:300;margin-bottom:0.5rem;letter-spacing:-0.025em;}
    #content02 .dis h3:after {content:"";display:block;width:30px;height:3px;background: #333;margin:15px 0 0 auto}
    #content02 .dis p {font-size:0.9rem;font-weight:500;letter-spacing:-0.025em;}

    /*두번째 섹션 - 사진과 글자02*/

  
    #content02 .con01~.con01 {border-top:2px solid #ddd;}
    #content02 .con01 {display:flex;width:auto;height:150px; background: #fff;margin:0 auto;justify-content:space-between;align-items:center;}
    #content02 .con01 figure {width:120px;}
    #content02 .con01 img {border-radius:50%;}

    
    #content02 strong {display:block; font-size:0.8rem;font-weight:300;margin-bottom:15px;line-height:1.3;}
    #content02 span {font-size:0.75rem;font-weight:700;}
    #content02 i {font-size:1.2rem;padding:10px;background:#ddd; border-radius: 50%;cursor: pointer;margin-right:0.75rem;}


    /*세번째 섹션 - 글자*/

    #content03 {padding:150px 0;text-align: center;}
    #content03 .container {width:auto;margin:0 auto;}
    #content03 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.6rem;letter-spacing:-0.025em;}
    #content03 p {font-size:0.9rem;font-weight:300;margin-bottom:1.5rem;letter-spacing:-0.025em;}

    /*세번째 섹션 - 글자 가운데*/

    #content03 .tab_menu {display: flex;justify-content:center;margin-bottom: 2.5rem;}
    #content03 .tab_menu li {display:block;line-height:40px;padding:0 5px;}
    

    #content03 .tab_menu li a {padding:5px 11px;font-size:14px;color:#777;background: #fafafa;border:1px solid #ddd;border-radius:25px;letter-spacing:-0.025em;}
    #content03 .tab_menu li.on a {padding:5px 11px;font-size:14px;color:#333;background: #fff;border:1px solid #333;border-radius:25px;letter-spacing:-0.025em;}

    /*세번째 섹션 - 사진*/

    #content03 .tab_con {position: relative;height:280px;}

    #content03 .tab_con figure {padding:0 15px;}
    #content03 .tab_con figure img {width:100%;}
    #content03 .tab_con .tab_b {display: block; visibility:hidden;position:absolute;top: 0;left:0;width:100%;}
    #content03 .tab_con .tab_b.on {display:block;visibility: visible;}



    /*네번째 섹션 - 글자*/

    #content04 {padding:150px 0;text-align:left;background: #f1f1f1;cursor: pointer;text-align: center;}
    #content04 .con04 h2 {font-size:1.5rem;font-weight:500;margin-bottom:0.6rem;letter-spacing:-0.025em;}
    .con04 h2:after {content:"";display:block;width:30px;height:3px;background: #82bb3f;;margin:20px 220px;}
    .con04 p {font-size:1rem; font-weight:400;margin-bottom:20px;letter-spacing:-0.025em;line-height:1.2;}
    .con04 p sub {font-size:1.75rem; font-weight:700;margin-bottom:1.5rem;letter-spacing:-0.025em;vertical-align: baseline;font-size: inherit;color:#82bb3f;}
    .con04 h3 {font-size:0.8rem;font-weight:300;margin-bottom:0.75rem;letter-spacing:-0.025em;line-height:1.2;}
    .con04 a i {font-size:1rem;padding:0.25rem;background: #82bb3f;color: #333; border-radius:50% 0;transition:0.4s;margin-bottom:20px;}
    .con04 a:hover i {border-radius:50%;}



    /*네번째 섹션 - 사진*/

    #content04 .container {display:block;width:auto;margin: 0 auto;}
    .container .con04 {flex:1;padding:0 15px;}
    .container .con04-d {flex:2;overflow:hidden;position: relative;text-align: center;}
    .container .con04-d figure {padding:0 15px;}
    .container .con04-d img {width:100%;margin-bottom:0.5rem;}

    /*네번째 섹션 - 아이콘*/

    .container .con04-d i {position: absolute;top:45%;background:transparent;color:#333; font-size:1rem;cursor:pointer;border:none;}
    .container .con04-d i.xi-angle-left-thin {left:0.75rem;}
    .container .con04-d i.xi-angle-right-thin {right:0.75rem;}

    /*네번째 섹션 - 사진밑에글자*/

    .container .con04-d strong {display:block; font-size:0.8rem;font-weight:400;margin-bottom:0.25rem;margin-bottom:0.75rem;}
    .container .con04-d span {font-size:0.7rem;font-weight:700;}


    /*다섯번째 섹션 - 글자*/

    #content05 {padding:150px 0;text-align: center;cursor: pointer; }
    #content05 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:-0.025em;}

    /*다섯번째 섹션 - 사진01*/

    #content05 .container {position:relative;display:block;flex-flow:column wrap;width:auto;margin:0 auto;max-height:100%;}
    #content05 .container>div {width:100%;padding:0 15px;margin-bottom:0.5rem;}
    #content05 .container img {width:100%;}

    /*다섯번째 섹션 - 글자01*/

    #content05 .con05_dd {position: absolute;top:3%;left:8%;text-align: left;}
    #content05 .con05_dd h3 {font-size:1rem;font-weight:400;margin-bottom:0.25rem;}
    #content05 .con05_dd strong {font-size:1.5rem;font-weight:700;}
    #content05 .con05_dd sub {font-size:1rem;font-weight:400;}
    #content05 .con05_dd .price {margin-top:0.8rem;border:1px solid #333;padding:3px 10px;border-radius:10px;cursor: pointer;} 
    #content05 .con05_dd .price:hover {background: #ddd;}

    #content05 .con05_dd span {display:block;font-size:0.8rem;font-weight:400;letter-spacing:0.3em;text-align: center;}


    /*다섯번째 섹션 - 사진02*/

    #content05 .con05_d {display:flex;background:#fff;width:auto;height:auto;}
    #content05 .con05_d figure {padding:15px 0;}
    #content05 .con05_d figure img {width:100%;}

    /*다섯번째 섹션 - 사진03*/

    #content05 .con05_slider {overflow: hidden;} 
    #content05 .con05_slider figure {position: relative;} 
    
    /*다섯번째 섹션 - 글자03*/

    #content05 .con05_ddd {position:absolute;top:5%;left:7%;text-align:left;z-index:999;} 
    #content05 .con05_ddd strong {display: block; font-size:2rem;font-weight:500;margin-bottom:1.25rem;line-height:1.2;} 
    #content05 .con05_ddd sub {font-size:2.75rem;font-weight:700;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}
    #content05 .con05_ddd .cc {font-size:0.8rem;font-weight:400; margin-top:1.1rem;border:1px solid #333;padding:2px 30px;border-radius:10px; cursor: pointer;}
    #content05 .con05_ddd .cc:hover {background: #e6cd5d;}

    /*다섯번째 섹션 - 글자03-2*/

    #content05 .con05_dddd {position: absolute;top:5%;left:7%;text-align:left;z-index: 999;}
    #content05 .con05_dddd strong {display: block; font-size:2rem;font-weight:500;margin-bottom:1.25rem;line-height:1.2;} 
    #content05 .con05_dddd sub {font-size:2.75rem;font-weight:700;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;}
    #content05 .con05_dddd .ccc {font-size:0.8rem;font-weight:400;margin-top:1.1rem;border:1px solid #333;padding:2px 30px;border-radius:10px; cursor: pointer;}

    /*다섯번째섹션 - 화살표*/

    .con05_case {position:relative;}
    #content05 .con05_btn i {position:absolute;top:45%; padding:10px; background:rgba(255, 255, 255, 0.5);color:#333; font-size:1.5rem;border-radius:50%;cursor:pointer;display:none;}
    #content05 .con05_btn i.xi-angle-left-thin {left:25px;}
    #content05 .con05_btn i.xi-angle-right-thin {right:25px}
    #content05 .con05_case:hover .con04_btn i {display:block;}


    /*다섯번째섹션 - 버튼*/

    #content05 .con05_slider .slick-dots {display:flex;position:absolute;bottom:10px;right:20px;}
    #content05 .con05_slider .slick-dots li{border:1px solid rgba(255, 255, 255, 0.5);width:10px;height:10px; border-radius:50%; margin:0 5px;}
    #content05 .con05_slider .slick-dots li.slick-active{background:rgba(255, 255, 255, 0.5);}
    #content05 .con05_slider .slick-dots li button {display:none;}


    /*푸터*/
    

    #footer {border-top:1px solid #333; background:#fff;color:#333;text-align:center;padding:0 0 50px 10px}
    .full {border-bottom:1px  solid #ddd;}
    #footer .container {display:block;justify-content:center;width:auto;margin:0 auto;padding:0 15px;}
    #footer .customer_link {display:flex;font-size:15px;font-weight:300;}
    #footer .container .sns {display:block;justify-content:center;width:auto;margin:0 auto;padding: 0 15px;line-height:50px;}
    #footer .customer_link li {position:relative;}
    #footer .customer_link li>a {display:block; padding: 0 20px;}
    #footer .customer_link .cdc {font-weight:700;line-height:100px;}
    #footer .customer_link li~li:before  {content:"";display:block;width:1px;height:12px;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);}
    #footer .customer_link li:first-child>a {padding:0 20px 0 0;}

    

    /*푸터 - 글자02*/

    #footer .container01 {display:flex;flex-direction:column;width:auto;margin:0 auto;padding: 0 15px;}

    #footer .container01 .con05_d {position: relative;flex:1;border-right:none}
    #footer .container01 .con05_d {padding:30px 30px 30px 30px;}
    #footer .container01 .con05_d:nth-child(1) {border-bottom:1px solid #ddd;padding:30px 30px 30px 30px;}

    #footer .container01 .con05_d:nth-child(2) {order:2;padding:30px 30px 30px 30px;}
    #footer .container01 .con05_d:nth-child(3) {border-right:none;border-bottom:1px solid #ddd;}
    #footer .container01 .con05_d h3 {font-size:15px;font-size:300;letter-spacing:0.3rem;}
    #footer .container01 .con05_d h3:after {content:"";display:block;width:30px;height:1px;background: #333;margin:15px 184px;}
    #footer .container01 .con05_d strong {display:block; font-size:30px;font-size:500;margin-bottom:20px;}
    #footer .container01 .con05_d span {display: block; font-size:15px;font-size:300;line-height:1.5;}
    #footer .container01 .con05_d span.fdf {font-size:15px;font-size:100;}

    #footer .container01 .con05_d strong.frf {font-size:15px;font-size:300;line-height:1.5;}

    #footer .container01 .con05_d p {font-size:16px;font-size:300;}
    #footer .container01 .con05_d sub {font-size:30px;font-weight:500;letter-spacing:0.1em;vertical-align: baseline;font-size: inherit;padding:0 0 2px 0;}
    #footer .container01 .con05_d strong.ffd {font-size:14px;font-size:300;margin-top: 20px;}
    #footer .container01 .con05_d .ddff {font-size:15px;font-size:300;letter-spacing:0.3rem;}
    #footer .container01 .con05_d .ddff:after {content:"";display:block;width:30px;height:1px;background: #333;margin:15px 184px;}

    #footer .con05_d .pre { text-align:center;margin:16px 0;cursor:pointer;}
    #footer .con05_d .pre em {display:inline-block;font-size:18px; font-weight:500;border:1px solid #333;position:relative;padding:10px 92px;border-radius:10px;overflow:hidden;}

    /*푸터 - 사각형 박스에 색깔나오는거*/
    #footer .con05_d .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(0, 0, 0, 0.5); position:absolute;top:0;left:0;transition:0.5s; z-index:1;}

    #footer .con05_d .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}
    #footer .con05_d .pre em span {position:relative;z-index:333}

    #footer .con05_d .pre em:hover span {color: #fff;}
    

    #mopen {display:block;}
   
   
    

    /*toTop*/

    #toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;display: none;}
    #toTop i {padding:10px;font-size:20px;color:#f4f4f4;background:rgba(0, 0, 0, 0.5);border-radius:50%;display:none ;}
    
   


    
}


