/*홈페이지 라인간격 볼수 있음*/
*{outline: 1px solid #f00;}
:root {
    --mc:#036b3f;
    --lc:#b8f329;
    --dc:#333;
    --gc :#21ba31;
    --f2 :#f2f2f2;
    --bg :#f6f6f6;
}

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}

@media screen and (max-width:768px) {
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

}

/*헤더 - 고정 */

.herder {line-height:40px;color:#f3f3f3;transition:1s;z-index:888;background:#333;}
.herder .container {width:60rem; margin:0 auto;padding:0 15px;}

@media screen and (max-width:768px) {
    /*헤더 - 고정 */

    .herder {line-height:40px;color:#f3f3f3;transition:1s;z-index:888;background:#333;}
    .herder .container {width:auto; margin:0 auto;padding:0 15px;}

}
/* 헤더 - 상단메뉴 */
.hd_t  {}
.hd_t>nav {display:flex;justify-content:space-between;}
.hd_t>nav>ul {display:flex;font-size:13px;font-weight:400;}
.hd_t>nav>ul>li>a {display:block;padding:0 15px;}
.hd_t>nav>ul>li {position: relative;}
.hd_t>nav>ul>li~li:after {content:"";display:block;width:1px;height:11px;background:#999;position:absolute;top:40%;left:0;}

.hd_s {display:block;width:40px;height:40px;background:#555;font-size:18px;cursor:pointer;transition:0.3s;overflow:hidden;text-align: center;}
.hd_s:before {content: "\e97a";font-family: xeicon!important;}
.hd_s.on:before {content: "\e921";font-family: xeicon!important;}

@media screen and (max-width:768px) {
   /* 헤더 - 상단메뉴 */
    .hd_t  {display:none;}
    .hd_t>nav {display:flex;justify-content:space-between;}
    .hd_t>nav>ul {display:flex;font-size:13px;font-weight:400;}
    .hd_t>nav>ul>li>a {display:block;padding:0 15px;}
    .hd_t>nav>ul>li {position: relative;}
    .hd_t>nav>ul>li~li:after {content:"";display:block;width:1px;height:11px;background:#999;position:absolute;top:40%;left:0;}

    .hd_s {display:block;width:40px;height:40px;background:#555;font-size:18px;cursor:pointer;transition:0.3s;overflow:hidden;text-align: center;}
    .hd_s:before {content: "\e97a";font-family: xeicon!important;}
    .hd_s.on:before {content: "\e921";font-family: xeicon!important;}

}
/* 검색창 */
.search {display:none;text-align:center;padding:25px;border-top:1px solid #999;}
.search form {border-bottom:2px solid #fff;display:inline-block;padding:0 0.5rem;}
.search input {background:none;border:none;}
.search form button {font-size:20px;}

.serch2 {display:none;text-align:center;padding:25px;border-top:1px solid #999;position:fixed;top:70px;z-index:3;} 
.search2 form {border-bottom:2px solid #fff;display:inline-block;padding:0 0.5rem;}
.search2 input {background:none;border:none;}
.search2 form button {font-size:20px;}

@media screen and (max-width:768px) {
    /* 검색창 */
    .search {display:none;text-align:center;padding:25px;border-top:1px solid #999;}
    .search form {border-bottom:2px solid #fff;display:inline-block;padding:0 0.5rem;}
    .search input {background:none;border:none;}
    .search form button {font-size:20px;}

}
/*헤더 - 고정*/
.hd {position:sticky;top:0;left:0;line-height:3rem;width:100%;color:#333;transition:1s;z-index:999;border-bottom:1px solid #ddd}
.hd:hover {background: #fff;color:#333;}
.hd.on {background: #fff;color:#333;line-height:3rem;}

@media screen and (max-width:768px) {
    /*헤더 - 고정*/
    .hd {position:fixed;top:0;left:0;line-height:3rem;width:100%;color:#333;transition:1s;z-index:999;border-bottom:none;}
    .hd:hover {background: #fff;color:#333;border-bottom:none}
    .hd.on {background: #fff;color:#333;line-height:3rem;}
}
/*헤더 - 로고*/
.hd .container {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:0 0.75rem;color:#333;background:#fff;}
.hd h1 img {width:10rem;}
.hd  a {display:block;}
.hd span {display:none;}
.hd span img {display:none;}

@media screen and (max-width:768px) {
    /*헤더 - 로고*/
    .hd .container {display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:0 0.75rem;color:#333;background:#fff;border-bottom:1px solid #ddd;z-index:1000;}
    .hd h1 {display:block;line-height:80px;position:relative;position:fixed;top:0;left:50%;transform:translateX(-50%);background:#fff;width:100%;text-align:center;z-index:1000000;}
    .hd h1 img {width:10rem;}
    .hd  a {display:block;}
    
    
}

/*헤더 - 내비*/
.gnb {}
.gnb .depth01 {display:flex;justify-content: space-between;font-size:0.8rem;font-weight:400;line-height:60px;}
.gnb .depth01>li>a {display:block;padding:0 30px;}
.gnb .depth01>li {}
.gnb .depth01>li>a:hover {display: block; color: var(--mc);}

.gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:transparent;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}

.gnb .depth01>li>a:hover:after {width:100%;}




@media screen and (max-width:768px) {
    /*헤더 - 내비*/
    .gnb {position:fixed;top:0;left:-100%;width:100%;height:100vh;background:#444;color: var(--f2); border-right:1px solid #333;overflow:hidden;transition:0.5s;padding:80px 0 0 0;z-index:999;}
    .gnb.on {left:0;}
    .gnb .depth01 {display:flex;flex-flow:column wrap;justify-content: space-between;font-size:0.8rem;font-weight:400;line-height:60px;}

    .gnb .depth01>li>a {display:block;padding:0 30px;}
    .gnb .depth01>li.on {width:100%;background:#333;}
    .gnb .depth01>li>a:hover {display: block; color:var(--f2);}

    .gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:transparent;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}

    .gnb .depth01>li>a:hover:after {width:100%;}
}

/*메가메뉴 */
.gnb .depth01>li .depth02 {display:none;position:absolute;top:67px;left:0;width:100%; background:#fbfbf7;font-size:0.8rem;font-weight:500;letter-spacing:0.1rem;line-height:4rem;text-align:left;transition:0.5s;z-index:999;border-top:1px solid #ddd;}
.gnb .depth01>li .depth02>ul {display:flex;justify-content:center;}
.gnb .depth01>li .depth02>ul>li {text-align:left;padding:0 50px;border-right:1px solid #ddd;height:250px;}
.gnb .depth01>li .depth02>ul>li.g {border-right:none}
.gnb .depth01>li .depth02>ul>li:first-child {border-left:1px solid #ddd;}
.gnb .depth01>li .depth02>ul>li>a {height:3.5rem;}
.gnb .depth01>li:hover .depth02 {display:block;}
.gnb .depth03 {font-size:0.65rem;font-weight:300;}
.gnb .depth03 .tx {font-size:0.65rem;font-weight:500;}
.gnb .depth03 li>a {display:block;line-height:1.5rem;text-align:left;font-size:13px;letter-spacing:0.1rem;}


@media screen and (max-width:768px) {
    /*메가메뉴 */
    .gnb .depth01>li .depth02 {display:none;position:absolute;top:0;left:150px;height:100vh; width:100%; background:#fff;font-size:0.8rem;font-weight:500;letter-spacing:0.1rem;line-height:3rem;text-align:left;transition:0.5s;border-top:none;color:#333;padding:80px 0 0 0;z-index:999;}
    .gnb .depth01>li .depth02>ul {display:flex;flex-flow:column wrap;justify-content:center;}
    .gnb .depth01>li .depth02>ul>li {text-align:left;padding:0 0;border-bottom:1px solid #ddd;height:auto;}
    .gnb .depth01>li .depth02>ul>li.g {border-right:none}
    .gnb .depth01>li .depth02>ul>li:first-child {border-left:none}
    .gnb .depth01>li .depth02>ul>li>a {height:3rem;padding:0 50px;}
    .gnb .depth01>li:hover .depth02 {display:none;}
    .gnb .depth01>li.on .depth02 {display:block;}
    .gnb .depth01>li .depth03 {display:none;background:#f2f2f2;}

    .gnb .depth03 {font-size:0.65rem;font-weight:300;}
    .gnb .depth03 .tx {font-size:0.65rem;font-weight:500;}
    .gnb .depth03 li>a {display:block;line-height:2rem;text-align:left;font-size:13px;letter-spacing:0.1rem;border-bottom:1px solid #ddd;padding:0 50px;}
}

/*헤더 - 모바일 아이콘*/
.m_icon {display:none;}

@media screen and (max-width:768px) {
    .m_icon {display:block;bottom:40px;left:0;left:150px;background:#444;z-index:100000;}
    .m_icon.on {width:100;background:#333;}
    .m_icon a {font-size:1.2rem;}
    .m_icon i {margin-left:1.5rem;color:var(--f2);}
}


/*메인 비주얼 - 사진넣기 */

.main_visual {position: relative;}
.main_visual figure {height:600px;position: relative;}
.main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
.main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
.main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}
.main_visual .itm04 {background:url(../img/main_visual04.jpg)no-repeat center center/cover;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 사진넣기 */

    .main_visual {position: relative;}
    .main_visual figure {height:600px;position: relative;}
    .main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
    .main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
    .main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}
    .main_visual .itm04 {background:url(../img/m_main_visual04.jpg)no-repeat center center/cover;}
}



/*메인 비주얼 - 글자넣기01*/

.main_visual figure .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
.main_visual figure .slg strong {display:block;font-size:1.5rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;letter-spacing:-0.025rem;}
.main_visual figure .slg h2 {font-size:2.7rem;font-weight:700;margin-bottom:0.95rem;letter-spacing:-0.025rem;}
.main_visual figure .slg p {font-size:1.3rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025rem;}
.main_visual figure .slg span {font-size:1.3rem;font-weight:700;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}

/*메인 비주얼 - 글자넣기02*/
.main_visual figure.itm02 {position: relative;}
.main_visual figure.itm02 .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:var(--f2);text-align:center;line-height:1;text-shadow:1px 0 2px #333;}
.main_visual figure.itm02 .slg strong {display:block;font-size:1.5rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
.main_visual figure.itm02 .slg h2 {font-size:2.7rem;font-weight:700;margin-bottom:0.95rem;letter-spacing:-0.025rem;}
.main_visual figure.itm02 .slg p {font-size:1.3rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025rem;}
.main_visual figure.itm02 .slg span {font-size:1.3rem;font-weight:700;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;letter-spacing:-0.025rem;}

/*메인 비주얼 - 글자넣기02*/
.main_visual figure.itm03 {position: relative;}
.main_visual figure.itm03 .slg {position:absolute;top:45%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:var(--f2);text-align:center;line-height:1;text-shadow:1px 0 2px #000;}
.main_visual figure.itm03 .slg strong {display:block;font-size:1.5rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
.main_visual figure.itm03 .slg h2 {font-size:2.7rem;font-weight:700;letter-spacing:-0.025rem;margin-bottom:0.95rem;}
.main_visual figure.itm03 .slg p {font-size:1.3rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:0.75rem;}
.main_visual figure.itm03 .slg span {font-size:1.3rem;font-weight:700;letter-spacing:-0.025rem;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 글자넣기01*/

    .main_visual figure .slg {position:absolute;top:50%;left:50%;width:100%;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
    .main_visual figure .slg strong {display:block;font-size:0.8rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;letter-spacing:-0.025rem;}
    .main_visual figure .slg h2 {font-size:2.2rem;font-weight:700;margin-bottom:0.95rem;letter-spacing:-0.025rem;}
    .main_visual figure .slg p {font-size:1.3rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025rem;}
    .main_visual figure .slg span {font-size:1.3rem;font-weight:700;margin-bottom:0.75rem;color:var(--mc);vertical-align: baseline;font-size: inherit;}

    /*메인 비주얼 - 글자넣기02*/
    .main_visual figure.itm02 {position: relative;}
    .main_visual figure.itm02 .slg {position:absolute;top:50%;left:50%;width:100%;padding:0 0.75rem;transform:translate(-50%,-50%);color:#f2f2f2;text-align:center;line-height:1;text-shadow:1px 0 2px #333;}
    .main_visual figure.itm02 .slg strong {display:block;font-size:0.8rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;}
    .main_visual figure.itm02 .slg h2 {font-size:2.2rem;font-weight:700;margin-bottom:0.95rem;letter-spacing:-0.025rem;}
    .main_visual figure.itm02 .slg p {font-size:1.3rem;font-weight:500;margin-bottom:0.75rem;letter-spacing:-0.025rem;}
    .main_visual figure.itm02 .slg span {font-size:1.3rem;font-weight:700;margin-bottom:0.75rem;color:var(--fc);vertical-align: baseline;font-size: inherit;letter-spacing:-0.025rem;text-shadow:1px 0 2px #333;}

    /*메인 비주얼 - 글자넣기03*/
    .main_visual figure.itm03 {position: relative;}
    .main_visual figure.itm03 .slg {position:absolute;top:50%;left:50%;width:100%;padding:0 0.75rem;transform:translate(-50%,-50%);color:var(--f2);text-align:center;line-height:1;text-shadow:1px 0 2px #333;}
    .main_visual figure.itm03 .slg strong {display:block;font-size:0.8rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:30px;text-shadow:1px 0 2px #333;}
    .main_visual figure.itm03 .slg h2 {font-size:2.2rem;font-weight:700;letter-spacing:-0.025rem;margin-bottom:0.95rem;text-shadow:1px 0 2px #333;}
    .main_visual figure.itm03 .slg p {font-size:1.3rem;font-weight:500;letter-spacing:-0.025rem;margin-bottom:0.75rem;text-shadow:1px 0 2px #333;}
    .main_visual figure.itm03 .slg span {font-size:1.3rem;font-weight:700;letter-spacing:-0.025rem;margin-bottom:0.75rem;color:var(--f2);vertical-align: baseline;font-size: inherit;text-shadow:1px 0 2px #333;}
}

/*첫번째 섹션 - 퀵메뉴 링크*/
.content01 .link {position:absolute;bottom:200px;left:50%;transform:translateX(-50%);z-index:888;width:60rem;margin:0 auto;padding:0 15px;}
.link_wrap {display:flex;border:1px solid #f2f2f2;box-shadow:1px 1px 5px #777;}
.link_wrap p {font-size:16px;font-weight:400;line-height:1rem;margin-top:10px;}
.link .pop {width:12.5%;padding:10px 0px;background:#fff;text-align:center;border-right:1px solid #ddd;transition:0.3s;}
.link .pop:last-child {border-right:none;}
.link .pop:hover {background:#b0cda6;}
.link .pop a {display:block;}
.link .pop i {font-size:45px;padding:7px;color:var(--mc);}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 퀵메뉴 링크*/
    .content01 .link {position:absolute;bottom:-65px;left:50%;transform:translateX(-50%);width:100%;margin:0 auto;padding:0 15px;z-index:888;}
    .link_wrap {display:flex;flex-flow:row wrap;border:1px solid #f2f2f2;box-shadow:1px 1px 5px #777;}
    .link_wrap p {font-size:0.6rem;font-weight:400;line-height:0.7rem;margin-top:0.2rem;}
    .link .pop {width:25%;padding:5px 0px;background:#fff;text-align:center;border-right:1px solid #ddd;transition:0.3s;border-top:1px solid #ddd;}
    .link .pop:last-child {border-right:none;}
    .link .pop:hover {background:#fff;}
    .link .pop a {display:block;}
    .link .pop i {font-size:1.5rem;padding:5px;color:var(--mc);}
}

/*두번째 섹션 - 글자*/

.content02 {padding:160px 0 50px;text-align:center;position: relative;}
.content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;margin-bottom:1.5rem;}
.content02 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}

/*두번째 섹션 - 사진 겸 큰틀*/
.content02 .container {position:relative; display:flex;width:60rem;margin:0 auto;overflow:hidden;padding:0 15px;}
.content02 .container>div {width:50%;}
.content02 .container .notice  {overflow:hidden;}
.content02 .container .inner  {padding:0 30px 0 0;}
.content02 .container .itm  {background:#f2f2f2;}
.content02 .container  img {width:100%;height:100%;}
.content02 .container figure {position: relative;}

/*두번째 섹션 - 왼쪽글자*/
.c02_t {width:100%;line-height:2rem;position: relative;background:var(--mc);text-align:left;}
.c02_t h3 {font-size:0.9rem;font-weight:400;color:var(--f2);margin-left:15px;}
.c02_t i {font-size:1rem;display:flex;position:absolute;top:25%;right:15px;color:var(--f2);margin-left:15px;}


/*두번째 섹션 - 왼쪽사진밑에글자*/
.dis {}
.dis strong {display:block;font-size:1.2rem;font-weight:500;margin:1rem 0 0.75rem 0}
.dis span {display:block;font-size:0.75rem;font-weight:400;color:#333;margin:0 15px 15px 15px;}
.dis .txt {overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height:1.2em;}
.dis p {margin:0 15px;font-size:0.75rem;font-weight:400;color:#555;margin-bottom:0.75rem;}
.dis i {text-align:left;font-size:0.9rem;color:#555;padding:0 8px 0 0;}




/*두번째 섹션 - 버튼*/

.content02 .con02_slider .slick-dots {display:flex;position:absolute;top:63%;left:50%;transform:translateX(-50%);}
.content02 .con02_slider .slick-dots li {border:1px solid #333 ;width:10px;height:10px; border-radius:50%; margin:0 5px;}
.content02 .con02_slider .slick-dots li.slick-active{background:#333;}
.content02 .con02_slider .slick-dots li button {display:none;}

/*두번째 섹션 - 오른쪽사진1*/
.inners {display:flex;position: relative;}
.inners .left {flex:1; background:#f2f2f2;}
.inners .right {flex:1;}

/*두번째 섹션 - 오른쪽글자1*/
.left .c02_tt {width:100%;line-height:2rem;position: relative;text-align:left;background:#b0cda6;}
.left .c02_tt h3 {font-size:0.9rem;font-weight:400;margin-left:15px;color:#333;}
.left .c02_tt i {font-size:1rem;display:flex;position:absolute;top:25%;right:15px;margin-left:15px;}

/*두번째 섹션 - 스크롤만들기*/
.left>ul {overflow-y:scroll;height:460px;}
.left>ul::-webkit-scrollbar {width:5px;}/*스크롤 영역전체*/
.left>ul::-webkit-scrollbar-track {background-color:transparent;}/*스크롤 막대*/
.left>ul.scroll-test::-webkit-scrollbar-thumb {border-radius:50%;background-color: rgb(241, 60, 60);}/*스크롤 막대외부(여백)*/
.left>ul::-webkit-scrollbar-button {width: 0;height: 0;}

/*두번째 섹션 - 오른쪽글자1 밑*/
.left ul {padding:0 15px;}
.left ul li {font-size:1rem;font-weight:400;padding:30px 0 0 0;border-bottom:1px solid #ddd;}
.left ul li:last-child {border-bottom:none;}
.left ul li strong {display:block;font-size:0.75rem;font-weight:300;margin-top:7px;}
.left ul span {display:block; font-size:0.75rem;font-weight:300;color:#333;margin-top:15px;}

/*두번째 섹션 - 오른쪽사진2*/
.right .co_r img {width:100%;height:250px;}
.right .co_r {cursor:pointer;}
.right .rt {position:absolute;top:15%;left:59%;color:var(--f2);}
.right .rt strong {display:block;font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
.right .rt span {display:block;font-size:1.5rem;font-weight:400;color:var(--f2);}
.right .rt .button {display:block;font-size:0;border-bottom:2px solid var(--f2);width:70px;height:25px;position: relative;margin:0 auto;}
.right .rt .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}

.right .co_r:hover .button {left:10px;transition:0.5s;}
.right .rt .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}

/*두번째 섹션 - 오른쪽사진2*/
.right .co_b img {width:100%;height:250px;}
.right .rt_b {position:absolute;top:65%;left:59%;color:var(--f2);}
.right .rt_b strong {display:block;font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
.right .rt_b span {display:block;font-size:1.5rem;font-weight:400;color:var(--f2);}
.right .rt_b .button {display:block;font-size:0;border-bottom:2px solid var(--f2);width:70px;height:25px;position: relative;margin:0 auto;}
.right .rt_b .button:after {content:"";display:block;width:25px;height:25px;
border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}
.right .co_b:hover .button {left:10px;transition:0.5s;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자*/

    .content02 {padding:200px 0 100px;text-align:center;position: relative;}
    .content02 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;margin-bottom:1.5rem;}
    .content02 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}

    /*두번째 섹션 - 사진 겸 큰틀*/
    .content02 .container {position:relative; display:flex;flex-flow:column wrap;width:auto;margin:0 auto;overflow:hidden;padding:0 15px;}
    .content02 .container>div {width:100%;}
    .content02 .container .notice  {overflow:hidden;}
    .content02 .container .inner  {padding:0 0 30px 0;}
    .content02 .container .itm  {background:#f2f2f2;}
    .content02 .container  img {width:100%;height:100%;}
    .content02 .container figure {position: relative;}

    /*두번째 섹션 - 왼쪽글자*/
    .c02_t {width:100%;line-height:2rem;position: relative;background:var(--mc);text-align:left;}
    .c02_t h3 {font-size:0.9rem;font-weight:400;color:var(--f2);margin-left:15px;}
    .c02_t i {font-size:1rem;display:flex;position:absolute;top:25%;right:15px;color:var(--f2);margin-left:15px;}


    /*두번째 섹션 - 왼쪽사진밑에글자*/
    .dis {}
    .dis strong {display:block;font-size:1rem;font-weight:500;margin:1rem 0 0.75rem 0}
    .dis span {display:block;font-size:0.75rem;font-weight:400;color:#333;margin:0 15px 15px 15px;}
    .dis .txt {overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2; /* 라인수 */-webkit-box-orient: vertical;word-wrap:break-word; line-height:1.2em;}
    .dis p {margin:0 15px;font-size:0.75rem;font-weight:400;color:#555;margin-bottom:0.75rem;}
    .dis i {text-align:left;font-size:0.9rem;color:#555;padding:0 8px 0 0;}




    /*두번째 섹션 - 버튼*/

    .content02 .con02_slider .slick-dots {display:flex;position:absolute;top:48%;left:50%;transform:translateX(-50%);}
    .content02 .con02_slider .slick-dots li {border:1px solid #333 ;width:10px;height:10px; border-radius:50%; margin:0 5px;}
    .content02 .con02_slider .slick-dots li.slick-active{background:#333;}
    .content02 .con02_slider .slick-dots li button {display:none;}

    /*두번째 섹션 - 오른쪽표1*/
    .inners {display:block; position: relative;}
    .inners .left {flex:1; background:#f2f2f2;margin-bottom:30px;}
    .inners .right {flex:1;}

    /*두번째 섹션 - 오른쪽글자1*/
    .left .c02_tt {width:100%;line-height:2rem;position: relative;text-align:left;background:#b0cda6;}
    .left .c02_tt h3 {font-size:0.9rem;font-weight:400;margin-left:15px;color:#333;}
    .left .c02_tt i {font-size:1rem;display:flex;position:absolute;top:25%;right:15px;margin-left:15px;}

    /*두번째 섹션 - 스크롤만들기*/
    .left>ul {overflow-y:scroll;height:460px;}
    .left>ul::-webkit-scrollbar {width:5px;}/*스크롤 영역전체*/
    .left>ul::-webkit-scrollbar-track {background-color:transparent;}/*스크롤 막대*/
    .left>ul.scroll-test::-webkit-scrollbar-thumb {border-radius:50%;background-color: rgb(241, 60, 60);}/*스크롤 막대외부(여백)*/
    .left>ul::-webkit-scrollbar-button {width: 0;height: 0;}

    /*두번째 섹션 - 오른쪽글자1 밑*/
    .left ul {padding:0 15px;}
    .left ul li {font-size:1rem;font-weight:400;padding:30px 0 0 0;border-bottom:1px solid #ddd;}
    .left ul li:last-child {border-bottom:none;}
    .left ul li strong {display:block;font-size:0.75rem;font-weight:300;margin-top:7px;}
    .left ul span {display:block; font-size:0.75rem;font-weight:300;color:#333;margin-top:15px;}

    /*두번째 섹션 - 오른쪽사진2*/
    .right .co_r img {width:100%;height:250px;}
    .right .co_r {cursor:pointer;}
    .right .rt {position:absolute;top:58%;left:20%;color:var(--f2);}
    .right .rt strong {display:block;font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
    .right .rt span {display:block;font-size:1.5rem;font-weight:400;color:var(--f2);}
    .right .rt .button {display:block;font-size:0;border-bottom:2px solid var(--f2);width:70px;height:25px;position: relative;margin:0 auto;}
    .right .rt .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}

    .right .co_r:hover .button {left:10px;transition:0.5s;}
    .right .rt .button:after {content:"";display:block;width:25px;height:25px;border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}

    /*두번째 섹션 - 오른쪽사진2*/
    .right .co_b img {width:100%;height:250px;}
    .right .rt_b {position:absolute;top:83%;left:20%;color:var(--f2);}
    .right .rt_b strong {display:block;font-size:1rem;font-weight:300;margin-bottom:0.8rem;}
    .right .rt_b span {display:block;font-size:1.5rem;font-weight:400;color:var(--f2);}
    .right .rt_b .button {display:block;font-size:0;border-bottom:2px solid var(--f2);width:70px;height:25px;position: relative;margin:0 auto;}
    .right .rt_b .button:after {content:"";display:block;width:25px;height:25px;
    border-top:2px solid var(--f2);position:absolute;top:11px;left:40px;transform:rotate(45deg);}
    .right .co_b:hover .button {left:10px;transition:0.5s;}
}

/*팝업창*/
.con03_popup {width:100%;height:80px;background:var(--mc);position:relative;overflow:hidden;transition:0.3s;margin-top:50px;}
.con03_popup.on {height:0;}
.con03_popup .container {width:60rem;height:100%;margin:0 auto;padding:0 0.75rem;}
.con03_popup .container .tt {width:40rem;color:#fff;margin:0 auto;position:absolute;top:50%;left:500px;transform:translateY(-50%);cursor:pointer;}
.con03_popup .container p {font-size:0.8rem;font-weight:300;}

/*팝업창 - 버튼 플레이*/
.con03_popup .container .btn i {display:block;position:absolute;top:50%;left:363px;transform:translateY(-50%);text-align:center;padding:8px; border:2px solid #fff;border-radius:50%;cursor:pointer;font-size:0.6rem;color:#fff;}

/*팝업창 - 버튼 화살표*/
.con03_popup .container .c03_btn i {display:block;position:absolute;top:50%;left:410px;transform:translateY(-50%);color:#fff;font-size:1rem;cursor:pointer;}
.con03_popup .container .c03_btn i.xi-angle-up-min {top:28px;}
.con03_popup .container .c03_btn i.xi-angle-down-min {top:53px;}
.con03_popup .c_box {position:absolute;top:50%;right:420px;transform:translateY(-50%);color:#fff;font-weight:300;}
.con03_popup .c_box span {display:inline-block;width:10px;height:10px;}

/*팝업창 - 버튼 닫기*/
.con03_popup .container .c03_b i {position:absolute;top:50%;right:370px;color:#fff;transform:translateY(-50%);font-size:1rem;padding-top:1px;cursor:pointer;}

@media screen and (max-width:768px) {
    /*팝업창*/
    .con03_popup {width:100%;height:80px;background:var(--mc);position:relative;overflow:hidden;transition:0.3s;margin-top:0;}
    .con03_popup.on {height:0;}
    .con03_popup .container {width:auto;height:100%;margin:0 auto;padding:0 0.75rem;}
    .con03_popup .container .tt {width:10rem;height:20px; color:#fff;margin:0 auto;position:absolute;top:50%;left:100px;transform:translateY(-50%);cursor:pointer;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
    .con03_popup .container p {font-size:0.75rem;font-weight:300;}

    /*팝업창 - 버튼 플레이*/
    .con03_popup .container .btn i {display:block;position:absolute;top:50%;left:20px;transform:translateY(-50%);text-align:center;padding:8px; border:2px solid #fff;border-radius:50%;cursor:pointer;font-size:0.6rem;color:#fff;}

    /*팝업창 - 버튼 화살표*/
    .con03_popup .container .c03_btn i {display:block;position:absolute;top:50%;left:60px;transform:translateY(-50%);color:#fff;font-size:1rem;cursor:pointer;}
    .con03_popup .container .c03_btn i.xi-angle-up-min {top:28px;}
    .con03_popup .container .c03_btn i.xi-angle-down-min {top:53px;}
    .con03_popup .c_box {position:absolute;top:50%;right:420px;transform:translateY(-50%);color:#fff;font-weight:300;display:none;}
    .con03_popup .c_box span {display:inline-block;width:10px;height:10px;}

    /*팝업창 - 버튼 닫기*/
    .con03_popup .container .c03_b i {position:absolute;top:50%;right:20px;color:#fff;transform:translateY(-50%);font-size:1rem;padding-top:1px;cursor:pointer;}
}

/*세번째 섹션 - 왼쪽*/
.content03 {padding:100px 0 80px 0;background:var(--bg);}
.content03 .container {width:60rem;margin:0 auto;overflow:hidden;padding:0 15px;}
.content03 .ine {display:flex;}
/*세번째 섹션 - 왼쪽 사진*/
.content03 .ine .left {width:55%;padding:0 30px 0 0;}
.content03 .ine .left img {width:100%;}
.content03 .ine .left .c_top{position: relative;}

/*세번째 섹션 - 왼쪽 글자*/
.content03 .ine .left .c_txt {position:absolute;top:20%;left:13%;text-align:left;}
.content03 .ine .left .c_txt strong {display:block;font-size:1.7rem;font-weight:500; margin-bottom:1rem;}
.content03 .ine .left .c_txt span {display:block;font-size:1.2rem;font-weight:400;}

.content03 .ine .left .c_txtt {position:absolute;top:20%;left:13%;text-align:left;color:var(--f2);}
.content03 .ine .left .c_txtt strong {display:block;font-size:1.7rem;font-weight:500; margin-bottom:1rem;}
.content03 .ine .left .c_txtt span {display:block;font-size:1.2rem;font-weight:400;}

/*세번째 섹션 - 오른쪽 글자 1*/
.content03 .ine .right {display:flex;flex-flow:wrap;}
.content03 .ine .right .r01 {width:50%;}
.content03 .ine .right .r01 .d {width:100%;height:240px; overflow: hidden;padding:0 15px 0 0;}
.content03 .ine .right .r01 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.3rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

.content03 .ine .right .r01 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
.content03 .ine .right .r01 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


.content03 .ine .right .r01 a {display:block;}
.content03 .ine .right .r01 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
.content03 .ine .right .r01 .list .title::before {content: "";width:3px;height:3px;background: #bdbdbd;position: absolute;top:50%;left: 0;}
.content03 .ine .right .r01 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
.content03 .ine .right .r01 .list li:last-child {border-bottom:none;}
.content03 .ine .right .r01 .list li a {line-height:1.5rem;}
.content03 .ine .right .r01 .list strong {display:block;float:left;width:230px;font-size:0.75rem;font-weight:400;}
.content03 .ine .right .r01 .list span {float:right; font-size:0.6rem;color:#999;}

/*세번째 섹션 - 오른쪽 글자 2*/
.content03 .ine .right .r02 {width:50%;}
.content03 .ine .right .r02 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 15px;}
.content03 .ine .right .r02 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.3rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

.content03 .ine .right .r02 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
.content03 .ine .right .r02 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


.content03 .ine .right .r02 a {display:block;}
.content03 .ine .right .r02 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
.content03 .ine .right .r02 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
.content03 .ine .right .r02 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
.content03 .ine .right .r02 .list li:last-child {border-bottom:none;}
.content03 .ine .right .r02 .list li a {line-height:1.5rem;}
.content03 .ine .right .r02 .list strong {display:block;float:left;width:230px;font-size:0.75rem;font-weight:400;}
.content03 .ine .right .r02 .list span {float:right; font-size:0.6rem;color:#999;}

/*세번째 섹션 - 오른쪽 글자 3*/
.content03 .ine .right {display:flex;flex-flow:wrap;}
.content03 .ine .right .r03 {width:50%;margin-top:26px;}
.content03 .ine .right .r03 .d {width:100%;height:240px; overflow: hidden;padding:0 15px 0 0;}
.content03 .ine .right .r03 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.25rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

.content03 .ine .right .r03 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
.content03 .ine .right .r03 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


.content03 .ine .right .r03 a {display:block;}
.content03 .ine .right .r03 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
.content03 .ine .right .r03 .list .title::before {content: "";width:3px;height:3px;background: #bdbdbd;position: absolute;top:50%;left: 0;}
.content03 .ine .right .r03 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
.content03 .ine .right .r03 .list li:last-child {border-bottom:none;}
.content03 .ine .right .r03 .list li a {line-height:1.5rem;}
.content03 .ine .right .r03 .list strong {display:block;float:left;width:230px;font-size:0.75rem;font-weight:400;}
.content03 .ine .right .r03 .list span {float:right; font-size:0.6rem;color:#999;}

/*세번째 섹션 - 오른쪽 글자 4*/
.content03 .ine .right .r04 {width:50%;margin-top:26px;}
.content03 .ine .right .r04 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 15px;}
.content03 .ine .right .r04 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.25rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

.content03 .ine .right .r04 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
.content03 .ine .right .r04 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}

.content03 .ine .right .r04 a {display:block;}
.content03 .ine .right .r04 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
.content03 .ine .right .r04 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
.content03 .ine .right .r04 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
.content03 .ine .right .r04 .list li:last-child {border-bottom:none;}
.content03 .ine .right .r04 .list li a {line-height:1.5rem;}
.content03 .ine .right .r04 .list strong {display:block;float:left;width:230px;font-size:0.75rem;font-weight:400;}
.content03 .ine .right .r04 .list span {float:right; font-size:0.6rem;color:#999;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 왼쪽*/
    .content03 {padding:100px 0;background:var(--bg);}
    .content03 .container {width:auto;margin:0 auto;overflow:hidden;padding:0 15px;}
    .content03 .ine {display:block;}
    /*세번째 섹션 - 왼쪽 사진*/
    .content03 .ine .left {width:100%;padding:0;display:flex;flex-flow:row wrap;}
    .content03 .ine .left img {width:100%;}
    .content03 .ine .left .c_top{position: relative;padding:0 0 15px 0;}

    .content03 .ine .left:nth-child(3) {order:4;}
    /*세번째 섹션 - 왼쪽 글자*/
    .content03 .ine .left .c_txt {position:absolute;top:20%;left:13%;text-align:left;}
    .content03 .ine .left .c_txt strong {display:block;font-size:1.7rem;font-weight:500; margin-bottom:1rem;}
    .content03 .ine .left .c_txt span {display:block;font-size:1.2rem;font-weight:400;}

    .content03 .ine .left .c_txtt {position:absolute;top:20%;left:13%;text-align:left;color:var(--f2);}
    .content03 .ine .left .c_txtt strong {display:block;font-size:1.7rem;font-weight:500; margin-bottom:1rem;}
    .content03 .ine .left .c_txtt span {display:block;font-size:1.2rem;font-weight:400;}

    
    

    /*세번째 섹션 - 오른쪽 글자 1*/
    .content03 .ine .right {display:flex;flex-flow:wrap;}
    .content03 .ine .right .r01 {width:100%;}
    .content03 .ine .right .r01 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 0;}
    .content03 .ine .right .r01 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.3rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

    .content03 .ine .right .r01 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
    .content03 .ine .right .r01 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


    .content03 .ine .right .r01 a {display:block;}
    .content03 .ine .right .r01 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
    .content03 .ine .right .r01 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
    .content03 .ine .right .r01 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
    .content03 .ine .right .r01 .list li:last-child {border-bottom:none;}
    .content03 .ine .right .r01 .list li a {line-height:1.5rem;}
    .content03 .ine .right .r01 .list strong {display:block;float:left;width:230px;font-size:0.6rem;font-weight:400;}
    .content03 .ine .right .r01 .list span {float:right;font-size:0.5rem;color:#999;}

    /*세번째 섹션 - 오른쪽 글자 2*/
    .content03 .ine .right .r02 {width:100%;}
    .content03 .ine .right .r02 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 0;}
    .content03 .ine .right .r02 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.3rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

    .content03 .ine .right .r02 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
    .content03 .ine .right .r02 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


    .content03 .ine .right .r02 a {display:block;}
    .content03 .ine .right .r02 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
    .content03 .ine .right .r02 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
    .content03 .ine .right .r02 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
    .content03 .ine .right .r02 .list li:last-child {border-bottom:none;}
    .content03 .ine .right .r02 .list li a {line-height:1.5rem;}
    .content03 .ine .right .r02 .list strong {display:block;float:left;width:230px;font-size:0.6rem;font-weight:400;}
    .content03 .ine .right .r02 .list span {float:right;font-size:0.5rem;color:#999;}

    /*세번째 섹션 - 오른쪽 글자 3*/
    .content03 .ine .right {display:flex;flex-flow:wrap;}
    .content03 .ine .right .r03 {width:100%;margin-top:26px;}
    .content03 .ine .right .r03 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 0;}
    .content03 .ine .right .r03 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.25rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

    .content03 .ine .right .r03 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
    .content03 .ine .right .r03 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}


    .content03 .ine .right .r03 a {display:block;}
    .content03 .ine .right .r03 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
    .content03 .ine .right .r03 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
    .content03 .ine .right .r03 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
    .content03 .ine .right .r03 .list li:last-child {border-bottom:none;}
    .content03 .ine .right .r03 .list li a {line-height:1.5rem;}
    .content03 .ine .right .r03 .list strong {display:block;float:left;width:230px;font-size:0.6rem;font-weight:400;}
    .content03 .ine .right .r03 .list span {float:right;font-size:0.5rem;color:#999;}

    /*세번째 섹션 - 오른쪽 글자 4*/
    .content03 .ine .right .r04 {width:100%;margin-top:26px;}
    .content03 .ine .right .r04 .d {width:100%;height:240px; overflow: hidden;padding:0 0 0 0;}
    .content03 .ine .right .r04 .d_t {border-bottom:1px solid #ddd;line-height:2rem;position: relative;padding-bottom:5px;margin-bottom:1.25rem;font-size:1.2rem;font-weight:700;color:var(--mc);}

    .content03 .ine .right .r04 .d_t:after {content:"";width:100px;height:3px;background:var(--mc);position:absolute;bottom:-2px;left:0;z-index:222;}
    .content03 .ine .right .r04 .d_t a {color:#333;position:absolute;top:3px;right:0;font-size:1rem;}

    .content03 .ine .right .r04 a {display:block;}
    .content03 .ine .right .r04 .list .title {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-left:12px;position: relative;}
    .content03 .ine .right .r04 .list .title::before {content: "";width:3px;height:3px;background:#bdbdbd;position: absolute;top:50%;left: 0;}
    .content03 .ine .right .r04 .list li {border-bottom:1px solid #ddd;overflow: hidden;}
    .content03 .ine .right .r04 .list li:last-child {border-bottom:none;}
    .content03 .ine .right .r04 .list li a {line-height:1.5rem;}
    .content03 .ine .right .r04 .list strong {display:block;float:left;width:230px;font-size:0.6rem;font-weight:400;}
    .content03 .ine .right .r04 .list span {float:right;font-size:0.5rem;color:#999;}
}


/*네번째 섹션 - 글자*/

.content04 {padding:100px 0;text-align:center;position: relative;}
.content04 h2 {font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;margin-bottom:1.5rem;margin-bottom:1.5rem;}
.content04 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}

/*네번째 섹션 - sns 아이콘*/

.content04 .sns_link {margin-bottom:2rem;}
.content04 .sns_link i {font-size:1.5rem;padding:8px;border-radius:50%;color:#333;margin:0 5px;background:var(--bg);border:1px solid #aaa;}
.content04 .sns_link .xi-youtube-play:hover {background:#FF0000;}
.content04 .sns_link .xi-instagram:hover {background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
.content04 .sns_link .xi-facebook:hover {background:#3B5998;}
.content04 .sns_link .xi-naver-square:hover {background:#04CE5C;}

/*네번째 섹션 - 사진 */
.content04 .container {width:60rem;margin:0 auto;padding:0 15px;}
.content04 .container .con04 {display:flex;}
.s_pic {padding:0 30px;}
.content04 .con04 img  {width:317px;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - sns 아이콘*/

    .content04 .sns_link {margin-bottom:2rem;}
    .content04 .sns_link i {font-size:1.5rem;padding:8px;border-radius:50%;color:#333;margin:0 5px;background:var(--bg);border:1px solid #ddd;}
    .content04 .sns_link .xi-youtube-play:hover {background:#FF0000;}
    .content04 .sns_link .xi-instagram:hover {background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
    .content04 .sns_link .xi-facebook:hover {background:#3B5998;}
    .content04 .sns_link .xi-naver-square:hover {background:#04CE5C;}

    /*네번째 섹션 - 사진 */
    .content04 .container {width:auto;margin:0 auto;padding:0 0;}
    
    .sns_video {margin-bottom:1rem;}
    .sns_video iframe {width:100%;}
    .s_pic {padding:0;margin-bottom:15px;}
    .content04 .con04 {display:flex;flex-flow:row wrap;}
    .content04 .con04 figure {width:100%;padding:0 15px;}
    .content04 .con04 figure:nth-of-type(1) {width:100%;}
    .content04 .con04 img  {width:100%;}
}

/*여섯번째 섹션 - 글자*/

.content06 {padding:100px 0;text-align:center;position: relative;background:var(--bg);}
.content06 h2 {font-size:1.5rem;font-weight:500;letter-spacing:0.025em;margin-bottom:1.5rem;}
.content06 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}

/*여섯번째 섹션 - 글자*/
.content06 .container {position:relative; display:flex;width:60rem;margin:0 auto;overflow:hidden;}
.content06 .con06 {}
.content06 .c6_item {}
.content06 .c6_item>div {width:25%;padding:0.75rem;float: left;}

.content06 .c6_txt {background:#fff;width:270px;height:270px;padding:2rem;position: relative;text-align:left;border:1px solid #ddd;}
.content06 .c6_txt:after {content:"";display:block;width:50px;height:10px;background:var(--mc);position:absolute;top:20px;left:-80px; opacity:0;transition:0.3s;}
.content06 .c6_txt:hover:after {opacity:1;top:20px;left:-15px;}
.content06 .c6_txt h3 {font-size:1rem;font-weight:500;color:#333;letter-spacing:-0.025em;line-height:30px;}
.content06 .c6_txt .c6_tt {position:absolute;bottom:40px;}
.content06 .c6_txt p {font-size:12px;font-weight:400;color:#666;letter-spacing:-0.025em;line-height:20px;float: left;margin-right:90px;}
.content06 .c6_txt span {font-size:12px;font-weight:400;color:#666;letter-spacing:-0.025em;line-height:20px;}

@media screen and (max-width:768px) {
    /*여섯번째 섹션 - 글자*/

    .content06 {padding:100px 0;text-align:center;position: relative;background:var(--bg);}
    .content06 h2 {font-size:1.5rem;font-weight:500;letter-spacing:0.025em;margin-bottom:1.5rem;}
    .content06 span {font-size:1.5rem;font-weight:900;margin-bottom:1.5rem;letter-spacing:0.025em;color:var(--mc);}

    /*여섯번째 섹션 - 글자*/
    .content06 .container {position:relative; display:block;width:auto;margin:0 auto;overflow:hidden;}
    .content06 .con06 {}
    .content06 .c6_item {}
    .content06 .c6_item>div {width:50%;padding:15px;float: left;}

    .content06 .c6_txt {background:#fff;width:100%;height:210px;padding:1.5rem 1rem;position: relative;text-align:left;border:1px solid #ddd;}
    .content06 .c6_txt:after {content:"";display:block;width:50px;height:10px;background:var(--mc);position:absolute;top:20px;left:-80px; opacity:0;transition:0.3s;}
    .content06 .c6_txt:hover:after {opacity:1;top:20px;left:-15px;display:none;}
    .content06 .c6_txt h3 {font-size:0.75rem;font-weight:500;color:#333;letter-spacing:-0.025em;line-height:1rem;text-align:center;}
    .content06 .c6_txt .c6_tt {position:absolute;bottom:30px;}
    .content06 .c6_txt p {font-size:12px;font-weight:400;color:#666;letter-spacing:-0.025em;line-height:20px;float: left;margin-right:15px;}
    .content06 .c6_txt span {font-size:12px;font-weight:400;color:#666;letter-spacing:-0.025em;line-height:20px;}
}

    
/*일곱번째 섹션 - 미니 바*/

.all_menu {width:100%;height:50px;background:#333;}
.all_menu .c07_menu {width:60rem;margin:0 auto;padding:0 15px;}
.all_menu .c07_menu>ul {}
.all_menu .c07_menu>ul>li {position:relative;width:16.66666666666667%;float:left;font-size:16px;font-weight:300;line-height:50px;padding:0 20px;color:#fff;border-right:1px solid #999;}
.all_menu .c07_menu>ul>li:first-child {border-left:1px solid #999;}
.all_menu .c07_menu>ul>li:after {position:absolute;top:0;right:20px;content:"\e941";display:block;font-family:xeicon;font-size:16px;line-height:50px;}
.all_menu .c07_menu>ul>li:hover ul {display:block;}
.all_menu .c07_menu>ul>li>ul {position:absolute;top:50px;left:0;color:#000;width:100%;height:120px;overflow:auto;padding:10px 20px;background:#fff;display:none;}

/*일곱번째 섹션 - 스크롤만들기*/
.all_menu .c07_menu>ul>li>ul::-webkit-scrollbar {width:5px;background-color:#333;}
.all_menu .c07_menu>ul>li>ul::-webkit-scrollbar-thumb {width:5px;background-color:var(--mc);}

.all_menu .c07_menu>ul>li>ul>li {border-bottom:1px solid #ddd;}
.all_menu .c07_menu>ul>li>ul>li a {font-size:14px;font-weight:300;line-height:40px;}
.all_menu .c07_menu>ul>li>ul>li.title a {font-weight:500;}
.all_menu .c07_menu>ul>li>ul>li:last-child {border-bottom:none;}

@media screen and (max-width:768px) {
    /*일곱번째 섹션 - 미니 바*/

    .all_menu {width:100%;height:50px;background:#333;display:none;}
    .all_menu .c07_menu {width:60rem;margin:0 auto;padding:0 15px;}
    .all_menu .c07_menu>ul {}
    .all_menu .c07_menu>ul>li {position:relative;width:16.66666666666667%;float:left;font-size:16px;font-weight:300;line-height:50px;padding:0 20px;color:#fff;border-right:1px solid #999;}
    .all_menu .c07_menu>ul>li:first-child {border-left:1px solid #999;}
    .all_menu .c07_menu>ul>li:after {position:absolute;top:0;right:20px;content:"\e941";display:block;font-family:xeicon;font-size:16px;line-height:50px;}
    .all_menu .c07_menu>ul>li:hover ul {display:block;}
    .all_menu .c07_menu>ul>li>ul {position:absolute;top:50px;left:0;color:#000;width:100%;height:120px;overflow:auto;padding:10px 20px;background:#fff;display:none;}

    /*일곱번째 섹션 - 스크롤만들기*/
    .all_menu .c07_menu>ul>li>ul::-webkit-scrollbar {width:5px;background-color:#333;}
    .all_menu .c07_menu>ul>li>ul::-webkit-scrollbar-thumb {width:5px;background-color:var(--mc);}

    .all_menu .c07_menu>ul>li>ul>li {border-bottom:1px solid #ddd;}
    .all_menu .c07_menu>ul>li>ul>li a {font-size:14px;font-weight:300;line-height:40px;}
    .all_menu .c07_menu>ul>li>ul>li.title a {font-weight:500;}
    .all_menu .c07_menu>ul>li>ul>li:last-child {border-bottom:none;}
}

/*푸터*/
.footer {padding:150px 0 50px 0;background:#EDEDED;color:#333;}
.footer .container {width:60rem;margin:0 auto;padding: 0 15px;}
.footer .container .f_menu {display:flex;line-height:2.5rem;font-size:0.75rem;font-weight:300;margin-bottom:1rem;}
.footer .container .f_menu>li>a {display:block; padding:0 0.75rem;position: relative;}
.footer .container .f_menu>li:first-child a {padding:0 20px 0 0;}
.footer .container .f_menu>li~li>a:before {content:"";display:block;width:1px;height:10px;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);}
.footer .container .f_menu .ft {font-weight:500;}

.footer .f_btn {display:flex;justify-content:space-between;}
.footer .f_btn span {font-size:0.75rem; font-weight:300;letter-spacing:0.05em;line-height:1.3;margin-top:1rem;}
.footer .f_btn ul {margin-top:1rem;}
.footer .f_btn ul>li {display:inline-block;border:1px solid #c8c8c8;margin-left:10px;padding:15px 20px;font-size:0.7rem;font-weight:400;}
.footer .f_btn ul>li:hover {background:#ddd;}

.footer .f_copy {display:flex;justify-content:space-between;margin-top:0.8rem;}
.footer .f_copy address {font-size:0.75rem;font-weight:300;letter-spacing:0.05em;margin-top:2rem;}
.footer .f_copy figure {width:150px;float:right;}
.footer .f_copy img {width:100%;}
.footer .ff {border-bottom:1px solid #ddd;}

@media screen and (max-width:768px) {
    /*푸터*/
    .footer {padding:100px 0;background:#EDEDED;color:#333;}
    .footer .container {width:auto;margin:0 auto;padding:0 15px;}
    .footer .container .f_menu {display:flex;flex-flow:row wrap;position:relative;text-align:center;}
    .footer .container .f_menu li{width:50%;}
    .footer .container .f_menu:nth-child(1) {order:4;}
    .footer .container .f_menu>li>a {display:block;padding:0 0.75rem 0 0; position: relative;border:1px solid #333;}
    .footer .container .f_menu>li~li>a:before {content:"";display:none;width:1px;height:10px;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);}

    .footer .container .f_menu .ft {font-weight:500;}

    .footer .f_btn {display:block;text-align: center;margin-top:3rem;}
    .footer .f_btn span {font-size:0.75rem; font-weight:300;letter-spacing:0.05em;line-height:1.3;}
    .footer .f_btn ul {display:flex;gap:10px;margin-top:2rem;}
    
    .footer .f_btn ul>li {flex:1;border:none;margin:0 0;padding:20px 0;font-size:0.7rem;font-weight:400;background:#333;color:#f2f2f2;}

    .footer .f_btn ul>li:hover {background:#333;}

    .footer .f_copy {display:flex;justify-content:center;}
    .footer .f_copy address {font-size:0.75rem;font-weight:300;letter-spacing:0.05em;margin-top:2rem;text-align: center;}
    .footer .f_copy figure {width:180px;float:right;display:none;}
    .footer .f_copy img {width:100%;}
    .footer .ff {border-bottom:none}

}

/* 모바일*/

.mopen {display:none;}


@media screen and (max-width:768px) {
    /* 모바일*/
    .mopen {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1rem;padding:0.25rem;background:#fff;border-radius:5px;color:#333; z-index:1000;}
    .mopen:after {content:"\e91c";font-family: xeicon!important;}

    .m_open {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1rem;padding:0.25rem;background:#fff;border-radius:5px;color:#333; z-index:1000;}
    .mopen.on:after {content:"\e921";font-family: xeicon!important;}

}

/*toTop*/
.toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;}
.toTop i {font-size:50px;color:#f4f4f4;text-shadow:1px 0 5px #666;}

@media screen and (max-width:768px) {
    /*toTop*/

    .toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;display:none;}
    .toTop i {padding:10px;font-size:20px;color:#f4f4f4;background:#333;border-radius:50%;display:none;}
}