@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*홈페이지 라인간격 볼수 있음*/

 *{outline: 1px solid #f00--;}

html {font-size:20px;}
body {font-size:0.8rem;}
#wrap {}

@media screen and (max-width:768px) {
    html {font-size:20px;}
    body {font-size:0.8rem;}
    #wrap {}

}

/*헤더 - 고정 */

.herder {position:sticky;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
.herder:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
.herder.on {background: #fff;color:#333;line-height:4rem;}

@media screen and (max-width:768px) {
    /*헤더 - 고정 */

    .herder {position:sticky;top:0;left:0;line-height:4rem;width:100%;color:#333;transition:1s;z-index:888;}
    .herder:hover {background: #fff;color:#333;border-bottom:1px solid#ddd;}
    .herder.on {background: #fff;color:#333;line-height:4rem;}

}

/*헤더 - 로고*/

.herder h1 img {width:10rem;}
.herder a {display: block;}
.herder .container {display:flex;justify-content:space-between;width:60rem;margin:0 auto;padding:0 0.75rem;}

@media screen and (max-width:768px) {
    /*헤더 - 로고*/

    .herder h1 {position: relative; z-index:1000;}
    .herder h1 img {width:10rem;}
    .herder a {display: block;}
    .herder .container {display:flex;justify-content:space-between;width:auto;margin:0 auto;padding:0 0.75rem;z-index:1000;}

}

/*헤더 - 내비*/

.gnb {}
.gnb .depth01 {display:flex;font-size:0.8rem;font-weight:400;}
.gnb .depth01>li>a {display:block;padding:0 35px;}
.gnb .depth01>li {position: relative;}
.gnb .depth01>li>a:hover {display: block; color: #77c4d5;}

.gnb .depth01>li>a:after {content:"";display: block;width:0;height:3px;background:#77c4d5;position:absolute;bottom:0;left:50%;transform:translateX(-50%); transition:0.3s;}

.gnb .depth01>li>a:hover:after {width:100%;}

@media screen and (max-width:768px) {
    .gnb {margin-left:auto;position:fixed;top:0;left:-100%;background: #fff;padding:80px 0 0 0;border-right:1px solid #ddd; width:calc(100% - 80px); height:100vh;transition:0.4s;  z-index:999;}
    .gnb.on {left:0;}

    .gnb .depth01 {display:flex;flex-direction:column; font-size:0.8rem;font-weight:400;}
    .gnb .depth01>li>a {display:block;padding:0 35px;line-height:3rem;border-bottom:1px solid #ddd;}
    .gnb .depth01>li {position: relative;}
    
    

}

/*헤더 - 내비 다단메뉴*/

.gnb .depth02 {font-size:0.65rem; height:0;overflow:hidden; position: absolute;top:4rem;left:0;width:100%;transition:0.5s;letter-spacing:0.1rem; z-index:999;}

.gnb .depth02 li:hover {display:block;color:#77c4d5;}

.gnb:before {content: "";display:block;width:100%;height:0;background: rgba(255, 255, 255,0.8);position:absolute;top:4rem;left:0;transition:0.5s; z-index:999;}
.gnb:hover:before {height:10rem;}
.gnb:hover .depth02 {height:10rem;}

.gnb .depth02>li>a {display:block;line-height:1.5rem;text-align: center;}
.gnb .depth02>li~li>a {border-top: 1px solid #ddd;}

@media screen and (max-width:768px) {
    /*헤더 - 내비 다단메뉴*/

    .gnb .depth02 {display:none; font-size:0.65rem;font-size:400; height:auto;overflow:hidden; position:static;top:3rem;left:0;width:100%;transition:none;letter-spacing:0.1rem;background: #f5f5f5; z-index:999;}

    .gnb:before {content: "";display:none;width:100%;height:0;background:#ddd;position:absolute;top:3rem;left:0;transition:0.5s; z-index:999;}
    .gnb:hover:before {height:10rem;}
    .gnb:hover .depth02 {display:none; height:auto;}
    .gnb .depth02>li>a {display:block;line-height:3rem;text-align:left;padding:0 3rem;}
    

}

/*헤더 - 오른쪽 내비 아이콘*/

.herder .right {cursor: pointer;}
.herder .right i {font-size:20px;margin-left:20px;}


@media screen and (max-width:768px) {
    .herder .right {cursor: pointer;display:none;}
    .herder .right i {font-size:20px;margin-left:20px;}

}

/*헤더 - 모바일 아이콘*/
.herder .m_icon {display:none;}

@media screen and (max-width:768px) {
    .herder .m_icon {display:flex;opacity:0;position:fixed;bottom:200px;left:0;z-index:1000;width:auto;padding:0 15px;}
    .herder .m_icon.on {opacity:1;transition:0.4s 0.4s;}
    .herder .m_icon a {font-size:1.3rem;}
    .herder .m_icon i {padding:5px 40px;border:1px solid #ddd;margin-left:0.75rem;}
    .herder .m_icon i:hover {background:#77c4d5;}
}

/*메인 비주얼 - 사진넣기 */

.main_visual {position: relative;}
.main_visual figure {height:600px;position: relative;}
.main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
.main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
.main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 사진넣기 */

    .main_visual {position: relative;}
    .main_visual figure {height:600px;position: relative;}
    .main_visual .itm01 {background:url(../img/main_visual01.jpg)no-repeat center center/cover;}
    .main_visual .itm02 {background:url(../img/main_visual02.jpg)no-repeat center center/cover;}
    .main_visual .itm03 {background:url(../img/main_visual03.jpg)no-repeat center center/cover;}    
}

/*버튼*/

.main_visual .main_slider .slick-dots {position: absolute;bottom:30px;left:0;width:100%; text-align:center;z-index:333;}
.main_visual .main_slider .slick-dots li {display:inline-block;width:4rem;height:0.2rem;background: rgba(0, 0, 0, 0.5);border-radius: 0.1rem;margin:0 0.25rem;overflow: hidden;}
.main_visual .main_slider .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#77c4d5;}
.main_visual .main_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}
.main_visual .main_slider .slick-dots li button {display:none;}

@media screen and (max-width:768px) {
    /*버튼*/

    .main_visual .main_slider .slick-dots {position: absolute;bottom:30px;left:0;width:100%; text-align:center;z-index:333;}
    .main_visual .main_slider .slick-dots li {display:inline-block;width:4rem;height:0.2rem;background: rgba(0, 0, 0, 0.5);border-radius: 0.1rem;margin:0 0.25rem;overflow: hidden;}
    .main_visual .main_slider .slick-dots li:after {content:"";display:block;width:0;height:100%;background:#77c4d5;}
    .main_visual .main_slider .slick-dots li.slick-active:after {width:100%;transition:3s;}
    .main_visual .main_slider .slick-dots li button {display:none;}
}

/*메인 비주얼 - 글자넣기01*/

.main_visual figure .slg {position:absolute;top:55%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
.main_visual figure .slg h2 {font-size:0.8rem;font-weight:400;letter-spacing:0.5em;margin-bottom:0.95rem;}
.main_visual figure .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:12px 565px;}
.main_visual figure .slg p {font-size:2.5rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
.main_visual figure .slg strong {display:block;font-size:18px;font-weight:400;letter-spacing:-0.025rem;}

/*메인 비주얼 - 글자넣기02*/

.main_visual figure.itm02 {position: relative;}
.main_visual figure.itm02 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
.main_visual figure.itm02 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}

/*메인 비주얼 - 글자넣기03*/

.main_visual figure.itm03 {position: relative;}
.main_visual figure.itm03 .slg {position:absolute;top:50%;left:50%;width:60rem;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
.main_visual figure.itm03 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}
.main_visual figure.itm03 .slg strong {line-height:1.3;}


@media screen and (max-width:768px) {
    /*메인 비주얼 - 글자넣기01*/

    .main_visual figure .slg {position:absolute;top:55%;left:50%;width:auto;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align: center;line-height:1;}
    .main_visual figure .slg h2 {font-size:0.7rem;font-weight:400;letter-spacing:0.5em;margin-bottom:0.95rem;}
    .main_visual figure .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:12px 565px;}
    .main_visual figure .slg p {font-size:2rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
    .main_visual figure .slg strong {display:block;font-size:0.7rem;font-weight:300;letter-spacing:-0.025rem;}

    /*메인 비주얼 - 글자넣기02*/

    .main_visual figure.itm02 {position: relative;}
    .main_visual figure.itm02 .slg {position:absolute;top:50%;left:40%;width:auto;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;}
    .main_visual figure.itm02 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}
    .main_visual figure.itm02 .slg p {font-size:1.5rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}

    /*메인 비주얼 - 글자넣기03*/

    .main_visual figure.itm03 {position: relative;}
    .main_visual figure.itm03 .slg {position:absolute;top:50%;left:40%;width:auto;padding:0 0.75rem;transform:translate(-50%,-50%);color:#333;text-align:left;line-height:1.2;}
    .main_visual figure.itm03 .slg h2:after {content:"";display:block;width:30px;height:3px;background: #77c4d5;margin:0.6rem 0;}
    .main_visual figure.itm03 .slg p {font-size:1.5rem;font-weight:500;letter-spacing:0.1em;font-family: 'Noto Serif', 'Noto Sans KR';margin-bottom:0.75rem;}
    .main_visual figure.itm03 .slg strong {line-height:1.3;}
        
}

/*메인 비주얼 - 화살표*/

.main_visual .main_btn i {position:absolute;top: 44%;padding:0.5rem; background:rgba(0,0,0,0.5);color:#f4f4f4;font-size:1.5rem;border-radius:50%;cursor:pointer;}
.main_visual .main_btn i.xi-angle-left-thin {left:100px;}
.main_visual .main_btn i.xi-angle-right-thin {right:100px;}

@media screen and (max-width:768px) {
    /*메인 비주얼 - 화살표*/
    .main_visual .main_btn i {position:absolute;top: 44%;padding:0.5rem; background:rgba(0,0,0,0.5);color:#f4f4f4; font-size:1.5rem;border-radius:50%;cursor:pointer;display: none;}
    .main_visual .main_btn i.xi-angle-left-thin {left:100px;}
    .main_visual .main_btn i.xi-angle-right-thin {right:100px;}
}

/*첫번째 섹션 - 글자*/

.content01 {position: relative; padding:7.5rem 0;text-align:center;color:#333;}
.content01 h2 img {width:6rem;margin-bottom:0.75rem;}
.content01 h2 a {display: block;}
.content01 p {font-size:0.75rem; font-weight:400;margin-bottom:2.5rem;letter-spacing:-0.025em;line-height:1.5;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 글자*/

    .content01 {position: relative; padding:7.5rem 0;text-align:center;color:#333;}
    .content01 h2 img {width:6rem;margin-bottom:0.75rem;}
    .content01 h2 a {display:block;}
    .content01 p {padding:0 15px;font-size:0.65rem; font-weight:400;margin-bottom:2.5rem;letter-spacing:-0.025em;line-height:1.5;}
}

/*첫번째 섹션 - 사진01 */

.content01 .container {position:relative; width:60rem;margin:0 auto;}
.content01 .container:after {content:"+ more"; position: absolute;top:0;right:15px;cursor: pointer;}
.content01>figure {display:block;}
.content01 figure {margin:0 auto;padding:0 15px;}
.content01 figure img {max-width:100%;border-radius:50%;background:#f2f2f2;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진01 */

    .content01 .container {position:relative; width:auto;margin:0 auto;}
    .content01 .container:after {content:"+ more"; position: absolute;top:0;right:10px;cursor: pointer;}
    .content01>figure {display:block;}
    .content01 figure {margin:0 auto;}
    .content01 figure img {max-width:100%;border-radius:50%;}
}

/*첫번째 섹션 - 사진02 */

.content01 .c_slider {display:flex;margin-top:3.25rem;justify-content:space-between;}
.content01 .con01 figure {}
.content01 .con01 figure img {max-width:100%;border-radius:50%;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진02 */

    .content01 .c_slider {display:block;position:relative;}
    .content01 .con01 figure {margin-bottom:2rem;}
    .content01 .con01 figure img {width:100%;border-radius:50%;}
}

/*첫번째 섹션 - 사진밑에글자*/

.content01 strong {display:block;margin-top:0.5rem;font-size:0.75rem;font-weight:400;}

@media screen and (max-width:768px) {
    /*첫번째 섹션 - 사진밑에글자*/

    .content01 strong {display:block;margin-top:0.5rem;font-size:0.75rem;font-weight:400;}
}

/*두번째 섹션 - 글자*/

.content02 {padding:150px 0 50px;text-align:center;background: #f2f2f2;position: relative;}
.content02 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 글자*/

    .content02 {padding:150px 0 100px;text-align:center;background: #f2f2f2;position: relative;}
    .content02 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;}
}

/*두번째 섹션 - 사진과 밑 글자*/

.content02 .container {position:relative; display:flex;width:1200px;margin:0 auto;flex-flow:column wrap;max-height:900px; justify-content: space-between;overflow:hidden; padding:0 0 0 15px;}
.content02 .container .pic {width:50%;padding:0 0 100px;}
.content02 .container img {width:100%;margin-bottom:0.75rem;}
.content02 .container .con02  {width:25%;overflow:hidden;padding:0 15px 85px;}
/*글자*/
.content02  strong {display: block;font-size:1rem;font-weight:400;margin-bottom:0.25rem;letter-spacing:-0.025rem;}
.content02  span {display:block;font-size:0.75rem;font-weight:300;letter-spacing:-0.025rem;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 사진과 밑 글자*/

    .content02 .container {position:relative; display:flex;width:100%;margin:0 auto;flex-flow:row wrap;max-height:1500px;overflow:hidden;padding:0 15px;}
    .content02 .container .con02 {width:50%;overflow:hidden;padding:0 15px 50px;}
    .content02 .container img {width:100%;margin-bottom:0.75rem;}
    .content02 .container .pic {width:100%;}
    /*글자*/
    .content02  strong {display:block;font-size:0.85rem;font-weight:400;margin-bottom:0.25rem;letter-spacing:-0.025rem;}
    .content02  span {display:block; font-size:0.6rem;font-weight:300;letter-spacing:-0.025rem;}
}


/*두번째 섹션 - 아이콘*/

.content02 .itm {position: relative;}
.content02 .itm .link {display:none;width:100%;position:absolute;bottom:3rem;left:0;}
.c_itm {position:relative;}
.content02 .c_itm {position: relative;}
.content02 .c_itm .link {display:none;width:100%; position: absolute;bottom:3rem;left:0;}

.content02 i {font-size:1.25rem;padding:10px;background:rgba(233, 233, 233, 0.8); color: #444; border-radius:50%;cursor:pointer;margin:8px;}
.content02 .itm:hover .link {display:block;}
.content02 .c_itm:hover .link {display:block;}




@media screen and (max-width:768px) {
    /*두번째 섹션 - 아이콘*/

    .content02 .itm {position: relative;}
    .content02 .itm .link {display:none;width:100%; position:absolute;bottom:3rem;left:0;}
    .c_itm {position:relative;}
    .content02 .con02 {position: relative;}
    .content02 .con02 .link {display:none;width:100%; position: absolute;bottom:3rem;left:0;}

    .content02 i {font-size:1.25rem;padding:10px;background:rgba(233, 233, 233, 0.7); color:#444; border-radius:50%;cursor:pointer;margin:8px;}
    .content02 .itm:hover .link {display:block;}
    .content02 .con02:hover .link {display:block;}
}

/*두번째 섹션 - 화살표*/

.content02 .con02_btn i {position:absolute;top:50%;transform:translate(-50%,-50%);font-size:2rem;padding:10px;background:transparent;border-radius:50%;cursor: pointer;}
.content02 .con02_btn i.xi-angle-left-thin {left:300px;}
.content02 .con02_btn i.xi-angle-right-thin {right:240px;}

@media screen and (max-width:768px) {
    /*두번째 섹션 - 화살표*/

    .content02 .con02_btn i {position:absolute;top:72%; transform:translate(-50%,-50%);font-size:1.25rem;padding:8px;background:transparent;border-radius:50%;cursor:pointer;display:none;}
    .content02 .con02_btn i.xi-angle-left-thin {left:40px;}
    .content02 .con02_btn i.xi-angle-right-thin {right:10px;}
   
}

/*세번째 섹션 - 글자*/

.content03 {padding:150px 0;}
.content03 .container {display:flex;width:60rem;margin:0 auto;padding:0 0.75rem;}

.content03 .con03 {flex:1;padding:0 30px;text-align:center;}
.content03 .con03 .con03_dis {position: relative;margin:94px 0;}
.content03 .con03 .con03_dis h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1rem;letter-spacing:0.025rem}
.content03 .con03 .con03_dis p {font-size:0.9rem;font-weight:400;margin-bottom:2.25rem;letter-spacing:-0.025rem;line-height:1.3;}
.content03 .con03 .con03_dis .pre {cursor: pointer;}
.content03 .con03 .con03_dis .pre em {display:inline-block;font-size:0.9rem;font-weight:400;letter-spacing:0.1rem;border:1px solid #77c4d5;padding:10px 50px;position:relative;overflow: hidden;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 글자*/

    .content03 {padding:150px 0;}
    .content03 .container {display:flex;flex-flow:column wrap;width:auto;margin:0 auto;padding:0 0.75rem;}

    .content03 .con03 {flex:1;padding:0 30px;text-align:center;}
    .content03 .con03 .con03_dis {position: relative;margin:0 auto;}
    .content03 .con03 .con03_dis:nth-child(1) {order:1;}
    .content03 .con03 .con03_dis h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1rem;letter-spacing:0.025rem}
    .content03 .con03 .con03_dis p {font-size:0.8rem;font-weight:300;margin-bottom:1.5rem;letter-spacing:-0.025rem;line-height:1.3;}
    .content03 .con03 .con03_dis .pre {cursor: pointer;}
    .content03 .con03 .con03_dis .pre em {display:inline-block;font-size:16px;font-weight:400;letter-spacing:0.1rem;border:1px solid #77c4d5;padding:10px 50px;position:relative;overflow: hidden;}

}

/*세번째 섹션 - 사각형 박스에 색깔나오는거*/

.content03 .con03 .con03_dis .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(119, 196, 213, 0.3); position:absolute;top:0;left:0;transition:0.5s; z-index:-1;}
.content03 .con03 .con03_dis .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 사각형 박스에 색깔나오는거*/

    .content03 .con03 .con03_dis .pre em:before {content:"";display:block;width:0;height:100%;background: rgba(119, 196, 213, 0.3); position:absolute;top:0;left:0;transition:0.5s; z-index:-1;}
    .content03 .con03 .con03_dis .pre em:hover:before {width:100%;position: absolute;top: 0;left: 0;}
}

/*세번째 섹션 - 사진*/


.content03 img {width:100%;}
.content03 .con03_d {}

@media screen and (max-width:768px) {
    /*세번째 섹션 - 사진*/

    .content03 figure {}
    .content03 img {width:100%;}
    .content03 .con03_d {order:-1;margin-bottom:30px;}

}

/*네번째 섹션 - 글자*/

.content04 {padding:150px 0;background:#f2f2f2;}
.content04 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:30px;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;text-align: center;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 글자*/

    .content04 {padding:150px 0 100px 0;background:#f2f2f2;}
    .content04 h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:30px;letter-spacing:0.025em;text-align:center;}
}

/*네번째 섹션 - 사진*/

.content04 .container {display:flex; flex-flow:row wrap; width:1200px;margin:0 auto;padding:0 15px;position:relative;}
.content04 .container .con04_slider {width:800px; margin-right:50px;position: relative;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 사진*/

    .content04 .container {display:flex; flex-flow:row wrap;width:auto;margin:0 auto;padding:0 0.75rem;position:relative;}
    .content04 .container .con04_slider {width:100%;position: relative;}
    .content04 .container .con04_slider img {width:100%;}
}


/*네번째 섹션 - 선*/
.content04 {position: relative;}
.content04 .line {display:block;width:80px;height:1px;background: #333;position:absolute;top:275px;right:700px;transition:0.4s;}
.content04 .line:after {content:"";display:block;width:10px;height:10px;background:#333;position:absolute;top:-5px;left:80px;border-radius:50%;}

@media screen and (max-width:768px) {
    /*네번째 섹션 - 선*/
    .content04 {position: relative;overflow: hidden;}
    .content04 .line {display:block;width:1px;height:40px;background: #333;position:absolute;top:400px;left:38px;transition:0.4s;}
    .content04 .line:after {content:"";display:block;width:8px;height:8px;background:#333;position:absolute;top:40px;left:-3px;border-radius:50%;}
}

/*네번째 섹션 - 사진옆 글자*/

.content04 .con04_menu {display:block;padding:50px 0;}

.content04 .con04_menu li {display:block;font-size:25px;font-weight: 300;line-height:30px;margin-bottom:20px;color:#7b7b7b;transition:0.5s;}

.content04 .con04_menu li.on {font-size:28px;font-weight:400;line-height:30px;margin-bottom:20px;color:#333;margin-left:10px;transition:0.5s;}


@media screen and (max-width:768px) {
    /*네번째 섹션 - 사진옆 글자*/

    .content04 .con04_menu {display:flex;flex-flow:row wrap; width:100%;text-align:center;justify-content:center;padding:25px 0 0 0;height:100px;}

    .content04 .con04_menu li {display:block;font-size:2vh;font-weight:300;margin:0 5px 0 5px;color:#7b7b7b;transition:0.5s;}

    .content04 .con04_menu li.on {font-size:2.5vh;font-weight:400;color:#333;transition:0.5s;}
}


/*다섯번째 섹션 -  사진 글자(지그재그)*/

.content05 {padding:150px 0;cursor: pointer;}
.content05 .container {width:1200px;margin:0 auto;padding:0 15px;}
.content05 .con05 {display:flex;flex-wrap:wrap; }
.content05 .con05>* {width:25%;}
.content05 .case05 {overflow:hidden;}
.content05 .con05 a {display:block;}
.content05 .con05 img {width:100%;}
.content05 .con05 figure:hover img {transform:scale(1.1);}
.content05 .con05 .ribon {width:50%;display:flex;}
.content05 .con05 .ribon .r_01 {background:url(../img/sec5_pro04.jpg);}
.ribon>* {width:50%;}
.content05 .con05 .con05_d {width:292px;text-align:center;padding:150px 0;}
.content05 .con05 .con05_d span {font-size:20px;font-weight:400;}
.content05 .con05 .con05_d span:after {content:"";display:block;width:40px;height:5px;background: #77c4d5;margin:20px 126px}



@media screen and (max-width:768px) {
    /*다섯번째 섹션 -  사진 글자(지그재그)*/

    .content05 {padding:150px 0;cursor: pointer;}
    .content05 .container {width:auto;margin:0 auto;padding:0 15px;}
    .content05 .con05 {display:flex;flex-wrap:wrap;}
    .content05 .con05>* {width:50%;}
    .content05 .case05 {overflow:hidden;}

    .content05 .con05 a {display:flex;}
    .content05 .con05 img {width:100%;}
    .content05 .con05 figure:hover img {transform:scale(1.1);}
    .content05 .con05 .ribon {width:100%;display:flex;}
    .content05 .con05 .ribon .r_01 {background:url(../img/sec5_pro04.jpg)}
    .ribon {width:50%;}
    .ribon>* {flex:1;}
    .content05 .con05 .con05_d {position:relative;background:transparent;width:50%;padding:0;}
    /*.content05 .con05 .con05_d:nth-child(2) {order:-4;}*/

    .content05 .con05 .con05_d span {position:absolute;top:38%;right:0; font-size:18px;font-weight:400;width:100%;}
    .content05 .con05 .con05_d span:after {content:"";display:block;width:35px;height:4px;background: #77c4d5;margin:15px 70px;}

    .content05 .ribon .r_01 .con05_d {position: relative;}

    .content05 .ribon .r_01 .con05_d .ff {display:block;position:absolute;top:90px;left:50px; font-size:18px;font-weight:400;width:100%;}
    .content05 .ribon .r_01 .con05_d .ff:after {content:"";display:block;width:35px;height:4px;background: #77c4d5;margin:15px 25px;} 

 

}


.content06 {padding:150px 0;text-align: center;background:#f2f2f2;}
.content06 .container {width:60rem;margin:0 auto;padding:0 0.75rem;}
.content06 .container h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;}
.content06 .container p {font-size:1rem;font-weight:300;margin-bottom:0.75rem;letter-spacing:0.025em;}

.content06 .con06 {align-items:left;margin-bottom:2rem;}
.content06 .con06_form {}
.content06 .con06 input {border:none;outline:none;border:1px solid #777;width:250px; line-height:1;padding:5px;border-radius:2px;background:#fff;font-size:0.7rem;font-weight:100;color: #777;text-align:left ;}

.content06 .con06_d {background:#77c4d5;padding:10px 50px;position:relative;overflow: hidden;cursor: pointer;border:1px solid transparent;}
.content06 .con06_d:hover {border:1px solid #77c4d5;background: #fff;overflow: hidden;}

.content06 strong {display:inline-block;font-size:0.9rem;font-weight:400;letter-spacing:0.1rem;}

@media screen and (max-width:768px) {
    /*여섯번째 섹션 - 글자*/

    .content06 {padding:150px 0;text-align: center;background:#f2f2f2;}
    .content06 .container {width:auto;margin:0 auto;padding:0 0.75rem;}
    .content06 .container h2 {font-family: 'Noto Serif', 'Noto Sans KR';font-size:1.5rem;font-weight:500;margin-bottom:1.5rem;letter-spacing:0.025em;}
    .content06 .container p {font-size:0.95rem;font-weight:300;margin-bottom:0.75rem;letter-spacing:0.025em;}

    .content06 .con06 {align-items:left;margin-bottom:2rem;}
    .content06 .con06_form {}
    .content06 .con06 input {border:none;outline:none;border:1px solid #777;width:250px; line-height:1;padding:5px;border-radius:2px;background:#fff;font-size:0.7rem;font-weight:100;color: #777;text-align:left ;}

    .content06 .con06_d {background:#77c4d5;padding:10px 50px;position:relative;overflow: hidden;cursor: pointer;border:1px solid transparent;}
    .content06 .con06_d:hover {border:1px solid #77c4d5;background: #fff;overflow: hidden;}

    .content06 strong {display:inline-block;font-size:0.9rem;font-weight:400;letter-spacing:0.1rem;}
}

/*푸터*/

.footer {background: #666;color:#f4f4f4;padding:60px 0;text-align: center;}


.footer .container {width:60rem;margin:0 auto;padding: 0 15px;}
.footer .sns {font-size:1.5rem;line-height:2.5rem;}
.footer .sns a {margin:0 8px;}
.footer .container dl {display:flex;justify-content:center;line-height:2.5rem;font-size:0.75rem;font-weight:300;margin-bottom:0.75rem;}
.footer .container dl>dd>a {display:block; padding:0 0.75rem;position: relative;}
.footer .container dl>dd~dd>a:before {content:"";display:block;width:1px;height:12px;background:#f4f4f4;position:absolute;top:50%;left:0;transform:translateY(-50%);}
.footer .container dl .foot {font-weight:500;}

.footer .ft01 {font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-top:1rem;} 
.footer .ft02 {font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-bottom:0.75rem;}
.footer .ft02 ul>li {display: inline-block;}
.footer .ft02 address {font-size:0.75rem; font-weight:300;letter-spacing:0.025em;margin-top:1rem;}
.footer .full {border-bottom:1px solid #999;}



@media screen and (max-width:768px) {
    /*푸터*/

    .footer {background: #666;color:#f4f4f4;padding:60px 0;text-align: center;}

    .footer .container {width:100%;margin:0 auto;padding: 0 15px;}
    .footer .sns {font-size:1.5rem;line-height:2.5rem;margin-bottom:0.8rem;}
    .footer .sns a {margin:0 8px;}
    .footer .container dl {display:block;justify-content:center;line-height:2rem;font-size:0.7rem;font-weight:300;margin-bottom:0.75rem;padding:0 15px;}
    .footer .container dl>* {display:inline-block;}
    .footer .container dl>dd>a {}
    .footer .container dl>dd~dd>a:before {display:none;}
    .footer .container dl .foot {font-weight:500;}

    .footer .ft01 {font-size:0.65rem; font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-top:1rem;} 
    .footer .ft02 {font-size:0.65rem;font-weight:300;letter-spacing:0.05em;line-height:1.5;margin-bottom:0.75rem;}
    .footer .ft02 ul>li {display: inline-block;}
    .footer .ft02 address {font-size:0.65rem; font-weight:300;letter-spacing:0.025em;margin-top:1rem;}
    .footer .full {border-bottom:1px solid #999;}

}

/* 모바일*/

.mopen {display:none;}


@media screen and (max-width:768px) {
    /* 모바일*/
    .mopen {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1.5rem;padding:0.25rem;background:#fff;border-radius:5px;color: #333; z-index:1000;}
    .mopen:after {content:"\e949";font-family: xeicon!important;}
   
    .m_open {display:block;position: fixed;top:1.25rem;right:1.25rem;font-size:1.5rem;padding:0.25rem;background:#fff;border-radius:5px;color: #333; z-index:1000;}
    .mopen.on:after {content:"\e93b";font-family: xeicon!important;}

}

/*toTop*/

.toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;}
.toTop i {font-size:50px;color:#f4f4f4;text-shadow:0 0 5px #777;}

@media screen and (max-width:768px) {
    /*toTop*/

    .toTop {display:none;position:fixed;bottom:100px;right:100px;cursor:pointer;display:none;}
    .toTop i {padding:10px;font-size:20px;color:#f4f4f4;background:#333;border-radius:50%;display:none;}
}

.right_banner {position:fixed;top:400px;right:0;transition:0.4s;text-align:right;cursor:pointer;background:#999;color:#fff;width:50px;overflow:hidden;}
.right_banner .full {border-bottom:1px solid #fff;}
.right_banner i {vertical-align:middle;font-size:40px;padding:3px;}
.right_banner li {position:relative;height:50px;}
.right_banner a {display:block;width:150px;position:absolute;top:0;right:0;align-items:center;}
.right_banner:hover {width:150px;background:#77c4d5}

.right_banner span {display:inline-block;padding:0 20px;font-size:17px;font-weight:300;margin:5px 0;vertical-align: middle;}

@media screen and (max-width:768px) {
    .right_banner {position:fixed;top:400px;right:0;transition:0.4s;text-align:right;cursor:pointer;background:#999;color:#fff;width:50px;overflow:hidden;display:none;}
    .right_banner .full {border-bottom:1px solid #fff;}
    .right_banner i {vertical-align:middle;font-size:40px;padding:3px;}
    .right_banner li {position:relative;height:50px;}
    .right_banner a {display:block;width:150px;position:absolute;top:0;right:0;align-items:center;}
    .right_banner:hover {width:150px;background:#77c4d5}

    .right_banner span {display:inline-block;padding:0 20px;font-size:17px;font-weight:300;margin:5px 0;vertical-align: middle;}
}


